interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/7?per_page=100
  response:
    body: {string: '{"id":3761791,"iid":7,"project_id":3439658,"title":"Update README.md","description":"","state":"opened","created_at":"2017-06-07T12:01:20.476Z","updated_at":"2017-06-09T09:49:07.691Z","target_branch":"master","source_branch":"gitmate-test-user-patch-2","upvotes":0,"downvotes":0,"author":{"id":889700,"name":"Naveen
        Kumar Sangi","username":"nkprince007","state":"active","avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/889700/avatar.png","web_url":"https://gitlab.com/nkprince007"},"assignee":null,"source_project_id":3439658,"target_project_id":3439658,"labels":[],"work_in_progress":false,"milestone":null,"merge_when_pipeline_succeeds":false,"merge_status":"unchecked","sha":"f6d2b7c66372236a090a2a74df2e47f42a54456b","merge_commit_sha":null,"user_notes_count":11,"approvals_before_merge":null,"should_remove_source_branch":null,"force_remove_source_branch":null,"squash":false,"web_url":"https://gitlab.com/gitmate-test-user/test/merge_requests/7","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"subscribed":true}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"65e6a1fcd786047327834434668f92f5"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['16']
      RateLimit-Remaining: ['584']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/master?per_page=100
  response:
    body: {string: '{"id":"7747ee49b7d322e7d82520126ca275115aa67447","short_id":"7747ee49","title":"Update
        README","created_at":"2017-09-24T12:12:01.000+00:00","parent_ids":["71a61579cb3aa493e8eadc9f183ff4377be4d1be"],"message":"Update
        README","author_name":"GitMate","author_email":"naveendarknight@gmail.com","authored_date":"2017-09-24T12:12:01.000+00:00","committer_name":"GitMate","committer_email":"naveendarknight@gmail.com","committed_date":"2017-09-24T12:12:01.000+00:00","stats":{"additions":0,"deletions":0,"total":0},"status":null}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"ffa1cd756717b4e6ec70a9a95faed25e"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['17']
      RateLimit-Remaining: ['583']
    status: {code: 200, message: OK}
version: 1
