interactions:
- request:
    body: '{"content": "hello", "branch": "master", "file_path": "deleteme", "commit_message":
      "hello"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/files/deleteme?User-Agent=IGitt
  response:
    body: {string: '{"file_path":"deleteme","branch":"master"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"8827443863f95630b41d5576df384a90"]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/files/deleteme?User-Agent=IGitt&branch=master&commit_message=Delete+file&file_path=%2Fprojects%2Fgitmate-test-user%252Ftest%2Frepository%2Ffiles%2Fdeleteme
  response:
    body: {string: ''}
    headers:
    status: {code: 204, message: No Content}
version: 1
