interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/hooks?per_page=100
  response:
    body: {string: '[]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"d751713988987e9331980363e24189ce"]
      Link: ['<https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/hooks?id=gitmate-test-user%2Ftest&page=1&per_page=100>;
          rel="first", <https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/hooks?id=gitmate-test-user%2Ftest&page=1&per_page=100>;
          rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['0']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
- request:
    body: '{"url": "http://some.url/in/the/world", "enable_ssl_verification": false,
      "token": "secret", "merge_requests_events": true}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/hooks
  response:
    body: {string: '{"id":247271,"url":"http://some.url/in/the/world","created_at":"2017-09-28T16:57:39.454Z","push_events":true,"tag_push_events":false,"repository_update_events":false,"enable_ssl_verification":false,"project_id":3439658,"issues_events":false,"merge_requests_events":true,"note_events":false,"pipeline_events":false,"wiki_page_events":false,"job_events":false}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"b9957fc9ef892ebcaf240955cb69e9ca"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['2']
      RateLimit-Remaining: ['598']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/hooks/247271
  response:
    body: {string: ''}
    headers:
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['6']
      RateLimit-Remaining: ['594']
    status: {code: 204, message: No Content}
[...]
- request:
    body: '{"url": "http://some.url/in/the/world", "enable_ssl_verification": false,
      "tag_push_events": true, "job_events": true, "pipeline_events": true, "issues_events":
      true, "note_events": true, "merge_requests_events": true, "wiki_events": true,
      "push_events": true}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/hooks
  response:
    body: {string: '{"id":247272,"url":"http://some.url/in/the/world","created_at":"2017-09-28T16:57:51.502Z","push_events":true,"tag_push_events":true,"repository_update_events":false,"enable_ssl_verification":false,"project_id":3439658,"issues_events":true,"merge_requests_events":true,"note_events":true,"pipeline_events":true,"wiki_page_events":false,"job_events":true}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"24f75291fafeb0da487df694f2e6403f"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['9']
      RateLimit-Remaining: ['591']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/hooks/247272
  response:
    body: {string: ''}
    headers:
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['12']
      RateLimit-Remaining: ['588']
    status: {code: 204, message: No Content}
version: 1
