interactions:
- request:
    body: '{"description": "new description"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/3
  response:
    body: {string: '{"id":5613911,"iid":3,"project_id":3439658,"title":"new title","description":"new
        description","state":"opened","created_at":"2017-06-05T06:19:06.379Z","updated_at":"2017-12-14T17:40:36.696Z","closed_at":"2017-09-28T17:46:46.215Z","labels":["dem"],"milestone":null,"assignees":[],"author":{"id":1369631,"name":"GitMate","username":"gitmate-test-user","state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"assignee":null,"user_notes_count":10,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"weight":null,"discussion_locked":null,"web_url":"https://gitlab.com/gitmate-test-user/test/issues/3","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"_links":{"self":"http://gitlab.com/api/v4/projects/3439658/issues/3","notes":"http://gitlab.com/api/v4/projects/3439658/issues/3/notes","award_emoji":"http://gitlab.com/api/v4/projects/3439658/issues/3/award_emoji","project":"http://gitlab.com/api/v4/projects/3439658"},"subscribed":true}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"6cfe4fb2afdafdbfd6a12f93234ee0c9"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1513273298']
      RateLimit-ResetTime: ['Fri, 14 Dec 2017 17:41:38 GMT']
    status: {code: 200, message: OK}
version: 1
