interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/16/commits?per_page=100
  response:
    body: {string: '[{"id":"a37bb904b39a4aabee24f52ff98a0a988a41a24a","short_id":"a37bb904","title":"gitmate
        please work","created_at":"2017-06-16T14:00:40.000Z","parent_ids":[],"message":"gitmate
        please work","author_name":"Naveen Kumar Sangi","author_email":"nkprince007@gmail.com","authored_date":"2017-06-16T14:00:40.000Z","committer_name":"Naveen
        Kumar Sangi","committer_email":"nkprince007@gmail.com","committed_date":"2017-06-16T14:00:40.000Z"},{"id":"b315282d00f2cff0b181fcc277309f2a08163a8e","short_id":"b315282d","title":"Update
        README.md","created_at":"2017-06-16T12:40:34.000Z","parent_ids":[],"message":"Update
        README.md","author_name":"Naveen Kumar Sangi","author_email":"nkprince007@gmail.com","authored_date":"2017-06-16T12:40:34.000Z","committer_name":"Naveen
        Kumar Sangi","committer_email":"nkprince007@gmail.com","committed_date":"2017-06-16T12:40:34.000Z"}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"6f196b098ecdb2ce5bc2f3f7f5b22570"]
      Link: ['<https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/16/commits?id=gitmate-test-user%2Ftest&merge_request_iid=16&page=1&per_page=100>;
          rel="first", <https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/16/commits?id=gitmate-test-user%2Ftest&merge_request_iid=16&page=1&per_page=100>;
          rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['2']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/a37bb904b39a4aabee24f52ff98a0a988a41a24a?per_page=100
  response:
    body: {string: '{"id":"a37bb904b39a4aabee24f52ff98a0a988a41a24a","short_id":"a37bb904","title":"gitmate
        please work","created_at":"2017-06-16T14:00:40.000+00:00","parent_ids":["b315282d00f2cff0b181fcc277309f2a08163a8e"],"message":"gitmate
        please work","author_name":"Naveen Kumar Sangi","author_email":"nkprince007@gmail.com","authored_date":"2017-06-16T14:00:40.000+00:00","committer_name":"Naveen
        Kumar Sangi","committer_email":"nkprince007@gmail.com","committed_date":"2017-06-16T14:00:40.000+00:00","stats":{"additions":2,"deletions":1,"total":3},"status":"running","last_pipeline":{"id":9087941,"sha":"a37bb904b39a4aabee24f52ff98a0a988a41a24a","ref":"hello","status":"running"}}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"c276eda7beda7747e2d1839395a397ad"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['2']
      RateLimit-Remaining: ['598']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/16/notes?per_page=100
  response:
    body: {string: '[{"id":47712686,"body":"Related to https://gitlab.com/gitmate-test-user/test/issues/10
        https://gitlab.com/gitmate-test-user/test/issues/11 \nRelated https://gitlab.com/gitmate-test-user/test/issues/12\nRelates
        to https://gitlab.com/gitmate-test-user/test/issues/13","attachment":null,"author":{"id":707601,"name":"Meet
        Mangukiya","username":"meetmangukiya","state":"active","avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/707601/avatar.png","web_url":"https://gitlab.com/meetmangukiya"},"created_at":"2017-11-17T16:54:07.647Z","updated_at":"2017-11-17T16:54:07.647Z","system":false,"noteable_id":3880987,"noteable_type":"MergeRequest","noteable_iid":16},{"id":32571115,"body":"unack
        a37bb904","attachment":null,"author":{"id":1369631,"name":"GitMate","username":"gitmate-test-user","state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80\u0026d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"created_at":"2017-06-17T00:55:53.097Z","updated_at":"2017-06-17T00:55:53.097Z","system":false,"noteable_id":3880987,"noteable_type":"MergeRequest","noteable_iid":16},{"id":32570956,"body"[...]
