interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/hooks?per_page=100
  response:
    body: {string: '[]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"d751713988987e9331980363e24189ce"]
      Link: ['<https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/hooks?access_token=98f0f5b512132e1a255f6f6b400f6a121c7a35c838bdf6c9cf0750ef09a97b9f&id=gitmate-test-user%2Ftest&page=1&per_page=100>;
          rel="first", <https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/hooks?access_token=98f0f5b512132e1a255f6f6b400f6a121c7a35c838bdf6c9cf0750ef09a97b9f&id=gitmate-test-user%2Ftest&page=1&per_page=100>;
          rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['62']
      RateLimit-Remaining: ['538']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['0']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
- request:
    body: '{"url": "http://some.url/in/the/world", "enable_ssl_verification": false,
      "token": "secret", "merge_requests_events": true}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/hooks
  response:
    body: {string: '{"id":246000,"url":"http://some.url/in/the/world","created_at":"2017-09-24T17:53:52.006Z","push_events":true,"tag_push_events":false,"repository_update_events":false,"enable_ssl_verification":false,"project_id":3439658,"issues_events":false,"merge_requests_events":true,"note_events":false,"pipeline_events":false,"wiki_page_events":false,"job_events":false}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"df7019449d9d4448a8e1f62ffea0dbb6"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['63']
      RateLimit-Remaining: ['537']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/hooks/246000
  response:
    body: {string: ''}
    headers:
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['67']
      RateLimit-Remaining: ['533']
    status: {code: 204, message: No Content}
[...]
- request:
    body: '{"url": "http://some.url/in/the/world", "enable_ssl_verification": false,
      "tag_push_events": true, "pipeline_events": true, "issues_events": true, "note_events":
      true, "wiki_events": true, "job_events": true, "push_events": true, "merge_requests_events":
      true}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/hooks
  response:
    body: {string: '{"id":246001,"url":"http://some.url/in/the/world","created_at":"2017-09-24T17:54:08.414Z","push_events":true,"tag_push_events":true,"repository_update_events":false,"enable_ssl_verification":false,"project_id":3439658,"issues_events":true,"merge_requests_events":true,"note_events":true,"pipeline_events":true,"wiki_page_events":false,"job_events":true}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"bfe338e27915579d270e83cb5b74d4f0"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['70']
      RateLimit-Remaining: ['530']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/hooks?per_page=100
  response:
    body: {string: '[{"id":246001,"url":"http://some.url/in/the/world","created_at":"2017-09-24T17:54:08.414Z","push_events":true,"tag_push_events":true,"repository_update_events":false,"enable_ssl_verification":false,"project_id":3439658,"issues_events":true,"merge_requests_events":true,"note_events":true,"pipeline_events":true,"wiki_page_events":false,"job_events":true}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"f3c8c3b7664af76baf183ebe3b908a2a"]
      Link: ['<https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/hooks?access_token=98f0f5b512132e1a255f6f6b400f6a121c7a35c838bdf6c9cf0750ef09a97b9f&id=gitmate-test-user%2Ftest&page=1&per_page=100>;
          rel="first", <https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/hooks?access_token=98f0f5b512132e1a255f6f6b400f6a121c7a35c838bdf6c9cf0750ef09a97b9f&id=gitmate-test-user%2Ftest&page=1&per_page=100>;
          rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['71']
      RateLimit-Remaining: ['529']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['1']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
version: 1
