interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/groups/gitmate-test-org%2Fsubgroup/members?per_page=100
  response:
    body: {string: '[{"id":1399318,"name":"GitMate Bot","username":"gitmate-bot","state":"active","avatar_url":"https://assets.gitlab-static.net/uploads/-/system/user/avatar/1399318/avatar.png","web_url":"https://gitlab.com/gitmate-bot","access_level":20,"expires_at":null},{"id":889700,"name":"Naveen
        Kumar Sangi","username":"nkprince007","state":"active","avatar_url":"https://secure.gravatar.com/avatar/2ed27920a4ec4445d0e390a30df7145d?s=80\u0026d=identicon","web_url":"https://gitlab.com/nkprince007","access_level":50,"expires_at":null}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"ed681f5b79359cb3cd2b2ad721a638c4"]
      Link: ['<https://gitlab.com/api/v4/groups/gitmate-test-org%2Fsubgroup/members?id=gitmate-test-org%2Fsubgroup&page=1&per_page=100>;
          rel="first", <https://gitlab.com/api/v4/groups/gitmate-test-org%2Fsubgroup/members?id=gitmate-test-org%2Fsubgroup&page=1&per_page=100>;
          rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1513608970']
      RateLimit-ResetTime: ['Tue, 18 Dec 2017 14:56:10 GMT']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['2']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/groups/gitmate-test-org/members?per_page=100
  response:
    body: {string: '[{"id":1369631,"name":"GitMate","username":"gitmate-test-user","state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80\u0026d=identicon","web_url":"https://gitlab.com/gitmate-test-user","access_level":40,"expires_at":null},{"id":104269,"name":"Lasse
        Schuirmann","username":"sil[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/groups/gitmate-test-user/members?per_page=100
  response:
    body: {string: '{"message":"404 Group Not Found"}'}
    headers:
      Content-Type: [application/json]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['4']
      RateLimit-Remaining: ['596']
      RateLimit-Reset: ['1513608972']
      RateLimit-ResetTime: ['Tue, 18 Dec 2017 14:56:12 GMT']
    status: {code: 404, message: Not Found}
version: 1
