interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/groups/gitmate-test-org/projects?per_page=100
  response:
    body: {string: '[{"id":5731027,"description":"","name":"test","name_with_namespace":"gitmate-test-org
        / test","path":"test","path_with_namespace":"gitmate-test-org/test","created_at":"2018-03-12T19:21:26.165Z","default_branch":null,"tag_list":[],"ssh_url_to_repo":"git@gitlab.com:gitmate-test-org/test.git","http_url_to_repo":"https://gitlab.com/gitmate-test-org/test.git","web_url":"https://gitlab.com/gitmate-test-org/test","avatar_url":null,"star_count":0,"forks_count":0,"last_activity_at":"2018-03-12T19:21:26.165Z","_links":{"self":"http://gitlab.com/api/v4/projects/5731027","issues":"http://gitlab.com/api/v4/projects/5731027/issues","merge_requests":"http://gitlab.com/api/v4/projects/5731027/merge_requests","repo_branches":"http://gitlab.com/api/v4/projects/5731027/repository/branches","labels":"http://gitlab.com/api/v4/projects/5731027/labels","events":"http://gitlab.com/api/v4/projects/5731027/events","members":"http://gitlab.com/api/v4/projects/5731027/members"},"archived":false,"visibility":"public","resolve_outdated_diff_discussions":false,"container_registry_enabled":true,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":889700,"namespace":{"id":1999111,"name":"gitmate-test-org","path":"gitmate-test-org","kind":"group","full_path":"gitmate-test-org","parent_id":null},"import_status":"none","open_issues_count":0,"public_jobs":true,"ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":false,"only_allow_merge_if_all_discussions_are_resolved":false,"printing_merge_request_link_enabled":true,"approvals_before_merge":0}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"72f9a8a302dd8debc976f207bbacd7e8"]
      Link: ['<https://gitlab.com/api/v4/groups/gitmate-test-org/projects?archived=false&id=gitmate-test-org&order_by=created_at&owned=false&page=1&per_page=100&simple=false&sort=desc&starred=false&with_custom_attributes=false>;
          rel="first", <https://gitlab.com/api/v4/groups/gitmate-test-org/projects?archived=false&id=gitmate-test-org&order_by=created_at&owned=false&page=1&per_page=100&simple=false&sort=desc&starred=false&with_custom_attributes=false>;
          rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1520885208']
      RateLimit-ResetTime: ['Tue, 12 Mar 2018 20:06:48 GMT']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['1']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/groups/gitmate-test-org/subgroups?per_page=100
  response:
    body: {string: '[{"id":1999522,"name":"another-subgroup","path":"another-subgroup","description":"","visibility":"public","lfs_enabled":true,"avatar_url":null,"web_url":"https://gitlab.com/groups/gitmate-test-org/another-subgroup","request_access_enabled":false,"full_name":"gitmate-test-org
        / another-subgroup","full_path":"gitmate-test-org/another-subgroup","parent_id":1999111,"ldap_cn":null,"ldap_access":null},{"id":1999237,"name":"subgroup","path":"subgroup","description":"","visibility":"public","lfs_enabled":true,"avatar_url":null,"web_url":"https://gitlab.com/groups/gitmate-test-org/subgroup","request_access_enabled":false,"full_name":"gitmate-test-org
        / subgroup","full_path":"gitmate-test-org/subgroup","parent_id":1999111,"ldap_cn":null,"ldap_access":null}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"a74efc7609da4db9175dd9dc85bd7359"]
      Link: ['<https://gitlab.com/api/v4/groups/gitmate-test-org/subgroups?id=gitmate-test-org&order_by=name&owned=false&page=1&per_page=100&sort=asc&statistics=false&with_custom_attributes=false>;
          rel="first", <https://gitlab.com/api/v4/groups/gitmate-test-org/subgroups?id=gitmate-test-org&order_by=name&owned=false&page=1&per_page=100&sort=asc&statistics=false&with_custom_attributes=false>;
          rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['2']
      RateLimit-Remaining: ['598']
      RateLimit-Reset: ['1520885214']
      RateLimit-ResetTime: ['Tue, 12 Mar 2018 20:06:54 GMT']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['2']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/groups/gitmate-test-org%2Fanother-subgroup/subgroups?per_page=100
  response:
    body: {string: '[{"id":2614704,"name":"nested-subgroup","path":"nested-subgroup","description":"This
        is a test subgroup","visibility":"public","lfs_enabled":true,"avatar_url":null,"web_url":"https://gitlab.com/groups/gitmate-test-org/another-subgroup/nested-subgroup","request_acce[...]
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/groups/gitmate-test-org%2Fanother-subgroup%2Fnested-subgroup/subgroups?per_page=100
  response:
    body: {string: '[]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"d751713988987e9331980363e24189ce"]
      Link: ['<https://gitlab.com/api/v4/groups/gitmate-test-org%2Fanother-subgroup%2Fnested-subgroup/subgroups?id=gitmate-test-org%2Fanother-subgroup%2Fnested-subgroup&order_by=name&owned=false&page=1&per_page=100&sort=asc&statistics=false&with_custom_attributes=false>;
          rel="first", <https://gitlab.com/api/v4/groups/gitmate-test-org%2Fanother-subgroup%2Fnested-subgroup/subgroups?id=gitmate-test-org%2Fanother-subgroup%2Fnested-subgroup&order_by=name&owned=false&page=1&per_page=100&sort=asc&statistics=false&with_custom_attributes=false>;
          rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['3']
      RateLimit-Remaining: ['597']
      RateLimit-Reset: ['1520885233']
      RateLimit-ResetTime: ['Tue, 12 Mar 2018 20:07:13 GMT']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['0']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/groups/gitmate-test-org%2Fsubgroup/subgroups?per_page=100
  response:
    body: {string: '[]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"d751713988987e9331980363e24189ce"]
      Link: ['<https://gitlab.com/api/v4/groups/gitmate-test-org%2Fsubgroup/subgroups?id=gitmate-test-org%2Fsubgroup&order_by=name&owned=false&page=1&per_page=100&sort=asc&statistics=false&with_custom_attributes=false>;
          rel="first", <https://gitlab.com/api/v4/groups/gitmate-test-org%2Fsubgroup/subgroups?id=gitmate-test-org%2Fsubgroup&order_by=name&owned=false&page=1&per_page=100&sort=asc&statistics=false&with_custom_attributes=false>;
          rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1520885236']
      RateLimit-ResetTime: ['Tue, 12 Mar 2018 20:07:16 GMT']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['0']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/groups/gitmate-test-org%2Fanother-subgroup/projects?per_page=100
  response:
    body: {string: '[]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"d751713988987e9331980363e24189ce"]
      Link: ['<https://gitlab.com/api/v4/groups/gitmate-test-org%2Fanother-subgroup/projects?archived=false&id=gitmate-test-org%2Fanother-subgroup&order_by=created_at&owned=false&page=1&per_page=100&simple=false&sort=desc&starred=false&with_custom_attributes=false>;
          rel="first", <https://gitlab.com/api/v4/groups/gitmate-test-org%2Fanother-subgroup/projects?archived=false&id=gitmate-test-org%2Fanother-subgroup&order_by=created_at&owned=false&page=1&per_page=100&simple=false&sort=desc&starred=false&with_custom_attributes=false>;
          rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1520885238']
      RateLimit-ResetTime: ['Tue, 12 Mar 2018 20:07:18 GMT']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['0']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/groups/gitmate-test-org%2Fanother-subgroup%2Fnested-subgroup/projects?per_page=100
  response:
    body: {string: '[{"id":5731460,"description":"","name":"test","name_with_namespace":"gitmate-test-org
        / another-subgroup / nested-subgroup / test","path":"test","path_with_namespace":"gitmate-test-org/another-subgroup/nested-subgroup/test","created_at":"2018-03-12[...]
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/groups/gitmate-test-org%2Fsubgroup/projects?per_page=100
  response:
    body: {string: '[{"id":5731038,"description":"","name":"test","name_with_namespace":"gitmate-test-org
        / subgroup / test","path":"test","path_with_namespace":"gitmate-test-org/subgroup/test","created_at":"2018-03-12T19:21:46.753Z","default_branch":null,"tag_list":[],"ssh_url_to_repo":"git@g[...]
