interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/1/notes/31500135?User-Agent=IGitt
  response:
    body: {string: '{"id":31500135,"body":"Lemme comment on you.\r\n","attachment":null,"author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"created_at":"2017-06-05T05:20:28.418Z","updated_at":"2017-06-05T06:05:34.491Z","system":false,"noteable_id":5613608,"noteable_type":"Issue"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"e8ef37c3fbc511c11f5d1565b4c67e68"]
    status: {code: 200, message: OK}
version: 1
