interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/3?per_page=100
  response:
    body: {string: '{"id":5613911,"iid":3,"project_id":3439658,"title":"new title","description":"Stop
        trying to be badass.","state":"opened","created_at":"2017-06-05T06:19:06.379Z","updated_at":"2017-06-09T08:38:28.449Z","labels":[],"milestone":null,"assignees":[],"author":{"id":1369631,"name":"GitMate","username":"gitmate-test-user","state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"assignee":null,"user_notes_count":4,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"weight":null,"web_url":"https://gitlab.com/gitmate-test-user/test/issues/3","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"_links":{"self":"http://gitlab.com/api/v4/projects/3439658/issues/3","notes":"http://gitlab.com/api/v4/projects/3439658/issues/3/notes","award_emoji":"http://gitlab.com/api/v4/projects/3439658/issues/3/award_emoji","project":"http://gitlab.com/api/v4/projects/3439658"},"subscribed":true}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"f1ef9a6aa75933ae552d2ac741cbe39a"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['2']
      RateLimit-Remaining: ['598']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/users?per_page=100&username=meetmangukiya
  response:
    body: {string: '[{"id":707601,"name":"Meet Mangukiya","username":"meetmangukiya","state":"active","avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/707601/avatar.png","web_url":"https://gitlab.com/meetmangukiya"}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"2150b9c3ff10268a269f7bc544d019c2"]
      Link: ['<https://gitlab.com/api/v4/users?access_token=98f0f5b512132e1a255f6f6b400f6a121c7a35c838bdf6c9cf0750ef09a97b9f&active=false&blocked=false&external=false&page=1&per_page=100&skip_ldap=false&username=meetmangukiya>;
          rel="first", <https://gitlab.com/api/v4/users?access_token=98f0f5b512132e1a255f6f6b400f6a121c7a35c838bdf6c9cf0750ef09a97b9f&active=false&blocked=false&external=false&page=1&per_page=100&skip_ldap=false&username=meetmangukiya>;
          rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['4']
      RateLimit-Remaining: ['596']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['1']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
- request:
    body: '{"assignee_ids": [707601]}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/27
  response:
    body: {string: '{"id":5685687,"iid":27,"project_id":3439658,"title":"test issue","description":"","state":"opened","created_at":"2017-06-12T18:14:54.571Z","updated_at":"2017-09-14T03:42:25.208Z","labels":[],"milestone":null,"assignees":[{"id":707601,"name":"Meet
        Mangukiya","username":"meetmangukiya","state":"active"[...]
[...]
