interactions:
- request:
    body: '{"title": "title", "description": "body"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues?User-Agent=GitMate
  response:
    body: {string: '{"id":5659734,"iid":26,"project_id":3439658,"title":"title","description":"body","state":"opened","created_at":"2017-06-09T09:09:29.600Z","updated_at":"2017-06-09T09:09:29.600Z","labels":[],"milestone":null,"assignees":[],"author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"assignee":null,"user_notes_count":0,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"weight":null,"web_url":"https://gitlab.com/gitmate-test-user/test/issues/26","subscribed":true}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"d0f02f28074a405789bbb072cc69fbc0"]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/26?User-Agent=GitMate
  response:
    body: {string: '{"id":5659734,"iid":26,"project_id":3439658,"title":"title","description":"body","state":"opened","created_at":"2017-06-09T09:09:29.600Z","updated_at":"2017-06-09T09:09:29.600Z","labels":[],"milestone":null,"assignees":[],"author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"assignee":null,"user_notes_count":0,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"weight":null,"web_url":"https://gitlab.com/gitmate-test-user/test/issues/26","subscribed":true}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"d0f02f28074a405789bbb072cc69fbc0"]
    status: {code: 200, message: OK}
version: 1
