interactions:
- request:
    body: '{"body": "test comment body has changed"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/30/notes/32616806?User-Agent=IGitt
  response:
    body: {string: '{"id":32616806,"body":"test comment body has changed","attachment":null,"author":{"name":"Arjun
        Singh Yadav","username":"arjunsinghy96","id":683065,"state":"active","avatar_url":"https://gitlab.com/uploads/system/user/avatar/683065/avatar.png","web_url":"https://gitlab.com/arjunsinghy96"},"created_at":"2017-06-17T14:45:23.388Z","updated_at":"2017-06-18T05:35:22.132Z","system":false,"noteable_id":5741041,"noteable_type":"Issue"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"882ac226a0d52e68b01345d233ef1a87"]
    status: {code: 200, message: OK}
- request:
    body: '{"body": "test comment body to change"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/30/notes/32616806?User-Agent=IGitt
  response:
    body: {string: '{"id":32616806,"body":"test comment body to change","attachment":null,"author":{"name":"Arjun
        Singh Yadav","username":"arjunsinghy96","id":683065,"state":"active","avatar_url":"https://gitlab.com/uploads/system/user/avatar/683065/avatar.png","web_url":"https://gitlab.com/arjunsinghy96"},"created_at":"2017-06-17T14:45:23.388Z","updated_at":"2017-06-18T05:35:25.938Z","system":false,"noteable_id":5741041,"noteable_type":"Issue"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"61d14fcec20d892c434c6f96120ed615"]
    status: {code: 200, message: OK}
version: 1
