interactions:
- request:
    body: '{"id": "gitmate-test-user/test", "namespace": "coafile"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/fork
  response:
    body: {string: '{"message":{"route.path":["has already been taken"],"route":["is
        invalid"],"path":["has already been taken"],"name":["has already been taken"],"base":["There
        is already a repository with that name on disk","Unable to save project. Error:
        Route path has already been taken, Route is invalid, Path has already been
        taken, Name has already been taken, There is already a repository with that
        name on disk"]}}'}
    headers:
      Content-Type: [application/json]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['6']
      RateLimit-Remaining: ['594']
    status: {code: 409, message: Conflict}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://gitlab.com/api/v4/projects/coafile%2Ftest
  response:
    body: {string: '{"message":"202 Accepted"}'}
    headers:
      Content-Type: [application/json]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['7']
      RateLimit-Remaining: ['593']
    status: {code: 202, message: Accepted}
- request:
    body: '{"id": "gitmate-test-user/test", "namespace": "coafile"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/fork
  response:
    body: {string: '{"id":4235805,"description":"","default_branch":null,"tag_list":[],"ssh_url_to_repo":"git@gitlab.com:coafile/test.git","http_url_to_repo":"https://gitlab.com/coafile/test.git","web_url":"https://gitlab.com/coafile/test","name":"test","name_with_namespace":"coafile
        / test","path":"test","path_with_namespace":"coafile/test","star_count":0,"forks_count":0,"created_at":"2017-09-26T02:34:46.181Z","last_activity_at":"2017-09-26T02:34:46.181Z","_links":{"self":"http://gitlab.com/api/v4/projects/4235805","issues":"http://gitlab.com/api/v4/projects/4235805/issues","merge_requests":"http://gitlab.com/api/v4/projects/4235805/merge_requests","repo_branches":"http://gitlab.com/api/v4/projects/4235805/repository/branches","labels":"http://gitlab.com/api/v4/projects/4235805/labels","events":"http://gitlab.com/api/v4/projects/4235805/events","members":"http://gitlab.com/api/v4/projects/4235805/members"},"archived":false,"visibility":"public","owner":{"id":1451715,"name":"coafile","username":"coafile","state":"active","avatar_url":"https://secure.gravatar.com/avatar/c08f4b57e9c95c8d7e757bf827bcefec?s=80&d=identicon","web_url":"https://gitlab.com/coafile"},"resolve_outdated_diff_discussions":false,"container_registry_enabled":true,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":1451715,"namespace":{"id":1758508,"name":"coafile","path":"coafile","kind":"user","full_path":"coafile","parent_id":null},"forked_from_project":{"id":3439658,"description":"","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@gitlab.com:gitmate-test-user/test.git","http_url_to_repo":"https://gitlab.com/gitmate-test-user/test.git","web_url":"https://gitlab.com/gitmate-test-user/test","name":"test","name_with_namespace":"GitMate
        / test","path":"test","path_with_namespace":"gitmate-test-user/test","star_count":0,"forks_count":2,"created_at":"2017-06-05T04:56:19.418Z","last_activity_at":"2017-09-24T17:05:22.287Z"},"import_status":"scheduled","import_error":null,"avatar_url":null,"open_issues_count":0,"runners_token":"seAzC8H4Djcq6fxd9a3s","public_jobs":true,"ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":false,"only_allow_merge_if_all_discussions_are_resolved":false,"printing_merge_request_link_enabled":true,"approvals_before_merge":0}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"0cdf7b34c81db3658bcec6a685fcde70"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['8']
      RateLimit-Remaining: ['592']
    status: {code: 201, message: Created}
- request:
    body: '{"file_path": ".coafile", "commit_message": "hello", "content": "hello",
      "branch": "master"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/coafile%2Ftest/repository/files/.coafile
  response:
    body: {string: '{"file_path":".coafile","branch":"master"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"8401c9688817b9cd522d370f7d64a5d3"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['9']
      RateLimit-Remaining: ['591']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest?per_page=100
  response:
    body: {string: '{"id":3439658,"description":"","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@gitlab.com:gitmate-test-user/test.git","http_url_to_repo":"https://gitlab.com/gitmate-test-user/test.git","web_url":"https://gitlab.com/gitmate-test-user/test","name":"test","name_with_namespace":"GitMate
        / test","path":"test","p[...]
- request:
    body: '{"title": "coafile", "target_branch": "master", "source_branch": "master",
      "id": "coafile%2Ftest", "target_project_id": 3439658}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/coafile%2Ftest/merge_requests
  response:
    body: {string: '{"id":5164315,"iid":38,"project_id":3439658,"title":"coafile","description":null,"state":"opened","created_at":"2017-09-26T02:35:01.726Z","updated_at":"2017-09-26T02:35:01.726Z","target_branch":"master","source_branch":"master","upvotes":0,"downvotes":0,"author":{"id":1451715,"name":"coafile","username":"coafile","state":"active","avatar_url":"https://secure.gravatar.com/avatar/c08f4b57e9c95c8d7e757bf827bcefec?s=80&d=identicon","web_url":"https://gitlab.com/coafile"},"assignee":null,"source_project_id":4235805,"target_project_id":3439658,"labels":[],"work_in_progress":false,"milestone":null,"merge_when_pipeline_succeeds":false,"merge_status":"unchecked","sha":"b4f205f2641e9d4593a9409f66429f6ac24903c1","merge_commit_sha":null,"user_notes_count":0,"approvals_before_merge":null,"should_remove_source_branch":null,"force_remove_source_branch":null,"squash":false,"web_url":"https://gitlab.com/gitmate-test-user/test/merge_requests/38","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"subscribed":true}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"0b2e116dab7b0ece559b02469324b47c"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['11']
      RateLimit-Remaining: ['589']
    status: {code: 201, message: Created}
version: 1
