interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate%2Fopen-source%2Fgitmate-2?per_page=100
  response:
    body: {string: '{"id":1415047,"description":"GitMate automates the code review
        process on your projects hosted on our supported platforms to speed up the
        development. GitMate provides static code analysis powered by coala and many
        more useful plugins specially tailored for your need.","default_branch":"master","tag_list":["webhook
        listener","IGitt","REST framework","Django"],"ssh_url_to_repo":"git@gitlab.com:gitmate/open-source/gitmate-2.git","http_url_to_repo":"https://gitlab.com/gitmate/open-source/gitmate-2.git","web_url":"https://gitlab.com/gitmate/open-source/gitmate-2","name":"GitMate-2","name_with_namespace":"gitmate
        / open-source / GitMate-2","path":"gitmate-2","path_with_namespace":"gitmate/open-source/gitmate-2","star_count":19,"forks_count":11,"created_at":"2016-07-18T12:52:47.103Z","last_activity_at":"2017-10-12T14:44:31.322Z"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"98bc87a8359f6a39dfac1eff48a23452"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/gitmate/open-source/gitmate-2/issues?state=all
  response:
    body: {string: "<!DOCTYPE html>\n<html class=\"\" lang=\"en\">\n<head prefix=\"\
        og: http://ogp.me/ns#\">\n<meta charset=\"utf-8\">\n<meta content=\"IE=edge\"\
        \ http-equiv=\"X-UA-Compatible\">\n<meta content=\"object\" property=\"og:type\"\
        >\n<meta content=\"GitLab\" property=\"og:site_name\">\n<meta content=\"Issues\
        \ \xB7 gitmate / open-source / GitMate-2\" property=\"og:title\">\n<meta content=\"\
        GitMate automates the code review process on your projects hosted on our supported\
        \ platforms to speed up the development. GitMate provides static code analysis\
        \ powered by coala and many more...\" property=\"og:description\">\n<meta\
        \ content=\"/uploads/-/system/project/avatar/1415047/gitmate_circle_1024.png\"\
        \ property=\"og:image\">\n<meta content=\"64\" property=\"og:image:width\"\
        >\n<meta content=\"64\" property=\"og:image:height\">\n<meta content=\"https://gitlab.com/gitmate/open-source/gitmate-2/issues?state=all&amp;access_token=\"\
        \ property=\"og:url\">\n<meta content=\"summary\" property=\"twitter:card\"\
        >\n<meta content=\"Issues \xB7 gitmate / open-source / GitMate-2\" property=\"\
        twitter:title\">\n<meta content=\"GitMate automates the code review process\
        \ on your projects hosted on our supported platforms to speed up the development.\
        \ GitMate provides static code analysis powered by coala and many more...\"\
        \ property=\"twitter:description\">\n<meta content=\"/uploads/-/system/project/avatar/1415047/gitmate_circle_1024.png\"\
        \ property=\"twitter:image\">\n\n<title>Issues \xB7 gitmate / open-source\
        \ / GitMate-2 \xB7 GitLab</title>\n<meta content=\"GitMate automates the code\
        \ review process on your projects hosted on our supported platforms to speed\
        \ up the development. GitMate provides static code analysis powered by coala\
        \ and many more...\" name=\"description\">\n<link rel=\"shortcut icon\" type=\"\
        image/x-icon\" href=\"/assets/favicon-075eba76312e8421991a0c1f89a89ee81678bcde72319dd3e8047e2a47cd3a42.ico\"\
        \ id=\"favicon\" />\n<link rel=\"stylesheet\" media=\"all\" href=\"/assets/application-6a3ef04d2d06f6f387f3926420b39edb4fcbcc563aedc3dc9a94e19092c3752b.css\"\
        \ />\n<link rel=\"stylesheet\" media=\"print\" href=\"/assets/print-74b3d49adeaada27337e759b75a34af7cf3d80051de91d60d40570f5a382e132.css\"\
        \ />\n\n\n<!-- / TODO: Combine these 2 stylesheets into application.scss -->\n\
        <link rel=\"stylesheet\" media=\"all\" href=\"/assets/new_nav-9dc36451d6461185b3c501b73a23f48936cda9ee5b0b8f9b1001c951ce12eabf.css\"\
        \ />\n<link rel=\"stylesheet\" media=\"all\" href=\"/assets/new_sidebar-1f383f3cb338b8ecf8062dab06052141f414f51165f656b97a0930c0d38cd7dc.css\"\
        \ />\n<script>\n//<![CDATA[\nwindow.gon={};gon.api_version=\"v4\";gon.default_avatar_url=\"\
        https:\\/\\/gitlab.com\\/assets\\/no_avatar-849f9c04a3a0d0cea2424ae97b27447dc64a7dbfae83c036c45b403392f0e8ba.png\"\
        ;gon.max_file_size=10;gon.asset_host=null;gon.webpack_public_path=\"\\/assets\\\
        /webpack\\/\";gon.relative_url_root=\"\";gon.shortcuts_path=\"\\/help\\/shortcuts\"\
        ;gon.user_color_scheme=\"white\";gon.katex_css_url=\"\\/assets\\/katex-dc07578acd203b2dd73a8c78cdb8dcb79144ba11a23749d80904496b7ff8a650.css\"\
        ;gon.katex_js_url=\"\\/assets\\/katex-04bcf56379f[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/gitmate/open-source/gitmate-2/issues?page=2&state=all
  response:
    body: {string: "<!DOCTYPE html>\n<html class=\"\" lang=\"en\">\n<head prefix=\"\
        og: http://ogp.me/ns#\">\n<meta charset=\"utf-8\">\n<meta content=\"IE=edge\"\
        \ http-equiv=\"X-UA-Compatible\">\n<meta content=\"object\" property=\"og:type\"\
        >\n<meta content=\"GitLab\" property=\"og:site_name\">\n<meta content=\"Issues\
 [...]
[...]
