interactions:
- request:
    body: '{"title": "test title", "description": "test body"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues?User-Agent=GitMate
  response:
    body: {string: '{"id":5659511,"iid":25,"project_id":3439658,"title":"test title","description":"test
        body","state":"opened","created_at":"2017-06-09T08:38:08.830Z","updated_at":"2017-06-09T08:38:08.830Z","labels":[],"milestone":null,"assignees":[],"author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"assignee":null,"user_notes_count":0,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"weight":null,"web_url":"https://gitlab.com/gitmate-test-user/test/issues/25","subscribed":true}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"6d436a8cbfb0586580259368fea0a0ad"]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/25?User-Agent=GitMate
  response:
    body: {string: '{"id":5659511,"iid":25,"project_id":3439658,"title":"test title","description":"test
        body","state":"opened","created_at":"2017-06-09T08:38:08.830Z","updated_at":"2017-06-09T08:38:08.830Z","labels":[],"milestone":null,"assignees":[],"author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"assignee":null,"user_notes_count":0,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"weight":null,"web_url":"https://gitlab.com/gitmate-test-user/test/issues/25","subscribed":true}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"6d436a8cbfb0586580259368fea0a0ad"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/25?User-Agent=GitMate
  response:
    body: {string: ''}
    headers:
    status: {code: 204, message: No Content}
version: 1
