interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/7/approvals?per_page=100
  response:
    body: {string: '{"id":3761791,"iid":7,"project_id":3439658,"title":"Update README.md","description":"","state":"opened","created_at":"2017-06-07T12:01:20.476Z","updated_at":"2017-06-09T09:49:07.691Z","merge_status":"cannot_be_merged","approvals_required":0,"approvals_left":0,"approved_by":[],"suggested_approvers":[],"user_has_approved":false,"user_can_approve":false}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"1d317840f98b4cfeef86d54b4be62245"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/27/approvals?per_page=100
  response:
    body: {string: '{"id":4692040,"iid":27,"project_id":3439658,"title":"Add new file","description":"","state":"opened","created_at":"2017-08-15T16:50:26.953Z","updated_at":"2017-08-15T16:52:31.661Z","merge_status":"can_be_merged","approvals_required":0,"approvals_left":0,"approved_by":[],"suggested_approvers":[],"user_has_approved":false,"user_can_approve":false}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"d4b24f6fca5ccfab54ed4dfb42bbb17a"]
    status: {code: 200, message: OK}
version: 1
