interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/69?per_page=100
  response:
    body: {string: '{"id":6826532,"iid":69,"project_id":3439658,"title":"Be my guest","description":"","state":"merged","created_at":"2017-12-20T14:19:09.360Z","updated_at":"2017-12-20T23:32:21.998Z","target_branch":"master","source_branch":"be-my-guest","upvotes":0,"downvotes":0,"author":{"id":889700,"name":"Naveen
        Kumar Sangi","username":"nkprince007","state":"active","avatar_url":"https://secure.gravatar.com/avatar/2ed27920a4ec4445d0e390a30df7145d?s=80&d=identicon","web_url":"https://gitlab.com/nkprince007"},"assignee":null,"source_project_id":3447786,"target_project_id":3439658,"labels":[],"work_in_progress":false,"milestone":null,"merge_when_pipeline_succeeds":false,"merge_status":"can_be_merged","sha":"ef46ed87766da84667570f28e04097fc3662ca86","merge_commit_sha":"bd407435f5c16ee05f61aac5841e4cebe47f57a7","user_notes_count":1,"approvals_before_merge":null,"discussion_locked":null,"should_remove_source_branch":null,"force_remove_source_branch":false,"squash":false,"web_url":"https://gitlab.com/gitmate-test-user/test/merge_requests/69","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"subscribed":false,"changes_count":"2"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"63ef4db072d9f1056d1f7602c4e461a6"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1513812864']
      RateLimit-ResetTime: ['Thu, 20 Dec 2017 23:34:24 GMT']
    status: {code: 200, message: OK}
[...]
