interactions:
- request:
    body: '{"note": "Comment on 3fc4b860e0a2c17819934d678decacd914271e5c.\n\nAn issue
      is here", "line_type": "new"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/3fc4b860e0a2c17819934d678decacd914271e5c/comments?User-Agent=IGitt
  response:
    body: {string: '{"note":"Comment on 3fc4b860e0a2c17819934d678decacd914271e5c.\n\nAn
        issue is here","path":null,"line":null,"line_type":null,"author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"created_at":"2017-06-19T12:32:29.574Z"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"84a508d9ab117b38c051d57e52219c08"]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/3fc4b860e0a2c17819934d678decacd914271e5c/diff?User-Agent=IGitt&per_page=100
  response:
    body: {string: '[{"diff":"--- a/README.md\n+++ b/README.md\n@@ -1,2 +1,4 @@\n
        # test\n a test repo\n+\n+a tst pr\n","new_path":"README.md","old_path":"README.md","a_mode":"100644","b_mode":"100644","new_file":false,"renamed_file":false,"deleted_file":false,"too_large":null}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"706051d386064021c416ffa310d8f690"]
    status: {code: 200, message: OK}
- request:
    body: '{"note": "Here in line 4, there''s a spelling mistake!", "line_type": "new",
      "line": 4, "path": "README.md"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/3fc4b860e0a2c17819934d678decacd914271e5c/comments?User-Agent=IGitt
  response:
    body: {string: '{"note":"Here in line 4, there''s a spelling mistake!","path":"README.md","line":4,"line_type":"new","author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"created_at":"2017-06-19T12:32:34.369Z"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"1824859a4bf0d305a1fc74647974d49a"]
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"note": "Comment on 3fc4b860e0a2c17819934d678decacd914271e5c, file READNOT.md.\n\ntest
      comment", "line_type": "new", "body": "Comment on 3fc4b860e0a2c17819934d678decacd914271e5c,
      file READNOT.md.\n\ntest comment"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/6/notes?User-Agent=IGitt
  response:
    body: {string: '{"id":32754928,"body":"Comment on 3fc4b860e0a2c17819934d678decacd914271e5c,
        file READNOT.md.\n\ntest comment","attachment":null,"author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"created_at":"2017-06-19T12:32:45.554Z","updated_at":"2017-06-19T12:32:45.554Z","system":false,"noteable_id":3758430,"noteable_type":"MergeRequest"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"3833ea004f50a0d47fd1ea197d05582d"]
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"note": "Comment on 3fc4b860e0a2c17819934d678decacd914271e5c, file READNOT.md,
      line 4.\n\ntest comment", "line_type": "new"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/3fc4b860e0a2c17819934d678decacd914271e5c/comments?User-Agent=IGitt
  response:
    body: {string: '{"note":"Comment on 3fc4b860e0a2c17819934d678decacd914271e5c,
        file READNOT.md, line 4.\n\ntest comment","path":null,"line":null,"line_type":null,"author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"created_at":"2017-06-19T12:32:48.738Z"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"ab4986fa8b8ef4d5237725142ac58514"]
    status: {code: 201, message: Created}
version: 1
