interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/master?User-Agent=GitMate
  response:
    body: {string: '{"id":"198dd16f8249ea98ed41876efe27d068b69fa215","short_id":"198dd16f","title":"Update
        README.md","created_at":"2017-06-06T00:18:11.000+00:00","parent_ids":["645961c0841a84c1dd2a58535aa70ad45be48c46"],"message":"Update
        README.md","author_name":"GitMate","author_email":"naveendarknight@gmail.com","authored_date":"2017-06-06T00:18:11.000+00:00","committer_name":"GitMate","committer_email":"naveendarknight@gmail.com","committed_date":"2017-06-06T00:18:11.000+00:00","stats":{"additions":1,"deletions":1,"total":2},"status":null}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"1e3176fbff1aef8defce82fc60e5059d"]
    status: {code: 200, message: OK}
version: 1
