interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/7/commits?User-Agent=GitMate
  response:
    body: {string: '[{"id":"f6d2b7c66372236a090a2a74df2e47f42a54456b","short_id":"f6d2b7c6","title":"Update
        README.md","created_at":"2016-01-24T19:46:59.000+00:00","parent_ids":["674498fd415cfadc35c5eb28b8951e800f357c6f"],"message":"Update
        README.md","author_name":"gitmate-test-user","author_email":"hostmaster@gitmate.io","authored_date":"2016-01-24T19:46:59.000+00:00","committer_name":"gitmate-test-user","committer_email":"hostmaster@gitmate.io","committed_date":"2016-01-24T19:46:59.000+00:00"}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"a5a5f4c1b244a8e389be146cf353116a"]
      Link: ['<https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/7/commits?User-Agent=GitMate&id=gitmate-test-user%2Ftest&merge_request_iid=7&page=1&per_page=20>;
          rel="first", <https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/7/commits?User-Agent=GitMate&id=gitmate-test-user%2Ftest&merge_request_iid=7&page=1&per_page=20>;
          rel="last"']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['20']
      X-Prev-Page: ['']
      X-Total: ['1']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/f6d2b7c66372236a090a2a74df2e47f42a54456b?User-Agent=GitMate
  response:
    body: {string: '{"id":"f6d2b7c66372236a090a2a74df2e47f42a54456b","short_id":"f6d2b7c6","title":"Update
        README.md","created_at":"2016-01-24T20:46:59.000+01:00","parent_ids":["674498fd415cfadc35c5eb28b8951e800f357c6f"],"message":"Update
        README.md","author_name":"gitmate-test-user","author_email":"hostmaster@gitmate.io","authored_date":"2016-01-24T20:46:59.000+01:00","committer_name":"gitmate-test-user","committer_email":"hostmaster@gitmate.io","committed_date":"2016-01-24T20:46:59.000+01:00","stats":{"additions":2,"deletions":0,"total":2},"status":null}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"a3e5ec9d02534a24454bd5ec90ecd0b2"]
    status: {code: 200, message: OK}
version: 1
