interactions:
- request:
    body: '{"labels": "dem"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/1?User-Agent=GitMate
  response:
    body: {string: '{"id":5613608,"iid":1,"project_id":3439658,"title":"new title","description":"I
        am a serious issue. Fix me soon, dude.","state":"reopened","created_at":"2017-06-05T05:19:51.840Z","updated_at":"2017-06-09T08:21:36.695Z","labels":["dem"],"milestone":null,"assignees":[{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"}],"author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"assignee":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"user_notes_count":15,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"weight":null,"web_url":"https://gitlab.com/gitmate-test-user/test/issues/1","subscribed":true}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"fa8f32e562c337a139f40981ced61fdd"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/labels?User-Agent=GitMate
  response:
    body: {string: '[{"id":2105509,"name":"a","color":"#428BCA","description":"","open_issues_count":0,"closed_issues_count":0,"open_merge_requests_count":0,"priority":null,"subscribed":false},{"id":2105511,"name":"b","color":"#428BCA","description":"","open_issues_count":0,"closed_issues_count":0,"open_merge_requests_count":0,"priority":null,"subscribed":false},{"id":2105512,"name":"c","color":"#004E00","description":"","open_issues_count":0,"closed_issues_count":0,"open_merge_requests_count":0,"priority":null,"subscribed":false},{"id":2127066,"name":"dem","color":"#428BCA","description":null,"open_issues_count":1,"closed_issues_count":0,"open_merge_requests_count":0,"priority":null,"subscribed":false}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"442b075f32450a77716ba1d36d673b53"]
      Link: ['<https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/labels?User-Agent=GitMate&id=gitmate-test-user%2Ftest&page=1&per_page=20>;
          rel="first", <https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/labels?User-Agent=GitMate&id=gitmate-test-user%2Ftest&page=1&per_page=20>;
          rel="last"']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['20']
      X-Prev-Page: ['']
      X-Total: ['4']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/labels?User-Agent=GitMate
  response:
    body: {string: '[{"id":2105509,"name":"a","color":"#428BCA","description":"","open_issues_count":0,"closed_issues_count":0,"open_merge_requests_count":0,"priority":null,"subscribed":false},{"id":2105511,"name":"b","color":"#428BCA","description":"","open_issues_count":0,"closed_issues_count":0,"open_merge_requests_count":0,"priority":null,"subscribed":false},{"id":2105512,"name":"c","color":"#004E00","description":"","open_issues_count":0,"closed_issues_count":0,"open_merge_requests_count":0,"priority":null,"subscribed":false},{"id":2127066,"name":"dem","color":"#428BCA","description":null,"open_issues_count":1,"closed_issues_count":1,"open_merge_requests_count":0,"priority":null,"subscribed":false}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"a188f1a07119693ef3db7367b319b025"]
      Link: ['<https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/labels?User-Agent=GitMate&id=gitmate-test-user%2Ftest&page=1&per_page=20>;
          rel="first", <https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/labels?User-Agent=GitMate&id=gitmate-test-user%2Ftest&page=1&per_page=20>;
          rel="last"']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['20']
      X-Prev-Page: ['']
      X-Total: ['4']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
version: 1
