interactions:
- request:
    body: '{"body": "this is a test comment"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/1/notes?User-Agent=GitMate
  response:
    body: {string: '{"id":31902676,"body":"this is a test comment","attachment":null,"author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"created_at":"2017-06-09T08:21:36.680Z","updated_at":"2017-06-09T08:21:36.680Z","system":false,"noteable_id":5613608,"noteable_type":"Issue"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"71d1380ac11d8bb1be61a753d0d7a9bb"]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/1/notes/31902676?User-Agent=GitMate
  response:
    body: {string: '{"id":31902676,"body":"this is a test comment","attachment":null,"author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"created_at":"2017-06-09T08:21:36.680Z","updated_at":"2017-06-09T08:21:36.680Z","system":false,"noteable_id":5613608,"noteable_type":"Issue"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"71d1380ac11d8bb1be61a753d0d7a9bb"]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/1/notes?User-Agent=GitMate&User-Agent=GitMate&id=gitmate-test-user%2Ftest&noteable_id=1&page=2&per_page=20
  response:
    body: {string: '[{"id":31841418,"body":"removed ~2105509 ~2105511 ~2105512 labels","attachment":null,"author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed2[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/3/notes/31502876?User-Agent=GitMate
  response:
    body: {string: '{"id":31502876,"body":"Go, get your work done.","attachment":null,"author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"created_at":"2017-06-05T06:19:20.491Z","updated_at":"2017-06-05T06:19:20.491Z","system":false,"noteable_id":5613911,"noteable_type":"Issue"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"cbd369e28325088f7782ab851175d0ed"]
    status: {code: 200, message: OK}
version: 1
