interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/27?User-Agent=IGitt
  response:
    body: {string: '{"id":5685687,"iid":27,"project_id":3439658,"title":"test issue","description":"","state":"opened","created_at":"2017-06-12T18:14:54.571Z","updated_at":"2017-06-13T16:22:24.830Z","labels":[],"milestone":null,"assignees":[],"author":{"name":"Meet
        Mangukiya","username":"meetmangukiya","id":707601,"state":"active","avatar_url":"https://gitlab.com/uploads/system/user/avatar/707601/avatar.png","web_url":"https://gitlab.com/meetmangukiya"},"assignee":null,"user_notes_count":0,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"weight":null,"web_url":"https://gitlab.com/gitmate-test-user/test/issues/27","subscribed":true}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"868345de10bffefeb6d20c2b5f3f25bc"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/users?User-Agent=IGitt&username=meetmangukiya
  response:
    body: {string: '[{"name":"Meet Mangukiya","username":"meetmangukiya","id":707601,"state":"active","avatar_url":"https://gitlab.com/uploads/system/user/avatar/707601/avatar.png","web_url":"https://gitlab.com/meetmangukiya"}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"dba9fcc1837dc5610687047d786f3314"]
      Link: ['<https://gitlab.com/api/v4/users?User-Agent=IGitt&active=false&blocked=false&external=false&page=1&per_page=20&private_token=&skip_ldap=false&username=meetmangukiya>;
          rel="first", <https://gitlab.com/api/v4/users?User-Agent=IGitt&active=false&blocked=false&external=false&page=1&per_page=20&private_token=&skip_ldap=false&username=meetmangukiya>;
          rel="last"']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['20']
      X-Prev-Page: ['']
      X-Total: ['1']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
- request:
    body: '{"assignee_ids": [707601]}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/27?User-Agent=IGitt
  response:
    body: {string: '{"id":5685687,"iid":27,"project_id":3439658,"title":"test issue","description":"","state":"opened","created_at":"2017-06-12T18:14:54.571Z","updated_at":"2017-06-13T16:23:26.574Z","labels":[],"milestone":null,"assignees":[{"name":"Meet
        Mangukiya","username":"meetmangukiya","id":707601,"state":"active","avatar_url":"https://gitlab.com/uploads/system/user/avatar/707601/avatar.png","web_url":"https://gitlab.com/meetmangukiya"}],"author":{"name":"Meet
        Mangukiya","username":"meetmangukiya","id":707601,"state":"active","avatar_url":"https://gitlab.com/uploads/system/user/avatar/707601/avatar.png","web_url":"https://gitlab.com/meetmangukiya"},"assignee":{"name":"Meet
        Mangukiya","username":"meetmangukiya","id":707601,"state":"active","avatar_url":"https://gitlab.com/uploads/system/user/avatar/707601/avatar.png","web_url":"https://gitlab.com/meetmangukiya"},"user_notes_count":0,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"weight":null,"web_url":"https://gitlab.com/gitmate-test-user/test/issues/27","subscribed":true}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"e8d0cfa1251cbfe4954e426d5c771c23"]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/3?User-Agent=IGitt
  response:
    body: {string: '{"id":5613911,"iid":3,"project_id":3439658,"title":"new title","description":"Stop
        trying to be badass.","state":"reopened","created_at":"2017-06-05T06:19:06.379Z","updated_at":"2017-06-09T08:38:28.449Z","labels":[],"milestone":null,"assignees":[],"author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"assignee":null,"user_notes_count":4,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"weight":null,"web_url":"https://gitlab.com/gitmate-test-user/test/issues/3","subscribed":true}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"43667f161da8031ae95176c404f272c2"]
    status: {code: 200, message: OK}
version: 1
