interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/hooks?User-Agent=GitMate
  response:
    body: {string: '[]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"d751713988987e9331980363e24189ce"]
      Link: ['<https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/hooks?User-Agent=GitMate&id=gitmate-test-user%2Ftest&page=1&per_page=20>;
          rel="first", <https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/hooks?User-Agent=GitMate&id=gitmate-test-user%2Ftest&page=0&per_page=20>;
          rel="last"']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['20']
      X-Prev-Page: ['']
      X-Total: ['0']
      X-Total-Pages: ['0']
    status: {code: 200, message: OK}
- request:
    body: '{"url": "http://some.url/in/the/world", "secret": "..."}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/hooks?User-Agent=GitMate
  response:
    body: {string: '{"id":218455,"url":"http://some.url/in/the/world","created_at":"2017-06-09T09:09:46.750Z","push_events":true,"tag_push_events":false,"enable_ssl_verification":true,"project_id":3439658,"issues_events":false,"merge_requests_events":false,"note_events":false,"pipeline_events":false,"wiki_page_events":false,"job_events":false}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"8d82ffb520df492c06b11c5bb92eda16"]
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/hooks/218455?User-Agent=GitMate
  response:
    body: {string: ''}
    headers:
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/hooks?User-Agent=GitMate
  response:
    body: {string: '[]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"d751713988987e9331980363e24189ce"]
      Link: ['<https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/hooks?User-Agent=GitMate&id=gitmate-test-user%2Ftest&page=1&per_page=20>;
          rel="first", <https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/hooks?User-Agent=GitMate&id=gitmate-test-user%2Ftest&page=0&per_page=20>;
          rel="last"']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['20']
      X-Prev-Page: ['']
      X-Total: ['0']
      X-Total-Pages: ['0']
    status: {code: 200, message: OK}
version: 1
