interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/3fc4b86?User-Agent=GitMate
  response:
    body: {string: '{"id":"3fc4b860e0a2c17819934d678decacd914271e5c","short_id":"3fc4b860","title":"Update
        README.md","created_at":"2016-01-24T18:49:12.000+01:00","parent_ids":["674498fd415cfadc35c5eb28b8951e800f357c6f"],"message":"Update
        README.md","author_name":"gitmate-test-user","author_email":"hostmaster@gitmate.io","authored_date":"2016-01-24T18:49:12.000+01:00","committer_name":"gitmate-test-user","committer_email":"hostmaster@gitmate.io","committed_date":"2016-01-24T18:49:12.000+01:00","stats":{"additions":2,"deletions":0,"total":2},"status":"success"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"411d9df422770563367929acb0f752ba"]
    status: {code: 200, message: OK}
- request:
    body: '{"note": "Comment on 3fc4b860e0a2c17819934d678decacd914271e5c.\n\nAn issue
      is here", "line_type": "new"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/3fc4b86/comments?User-Agent=GitMate
  response:
    body: {string: '{"note":"Comment on 3fc4b860e0a2c17819934d678decacd914271e5c.\n\nAn
        issue is here","path":null,"line":null,"line_type":null,"author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"created_at":"2017-06-09T09:27:19.749Z"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"224c3b3489047a2399571aa384b39594"]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/3fc4b86/diff?User-Agent=GitMate
  response:
    body: {string: '[{"diff":"--- a/README.md\n+++ b/README.md\n@@ -1,2 +1,4 @@\n
        # test\n a test repo\n+\n+a tst pr\n","new_path":"README.md","old_path":"README.md","a_mode":"100644","b_mode":"100644","new_file":false,"renamed_file":false,"deleted_file":false,"too_large":null}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"706051d386064021c416ffa310d8f690"]
    status: {code: 200, message: OK}
- request:
    body: '{"note": "Here in line 4, there''s a spelling mistake!", "line_type": "new",
      "line": 4, "path": "README.md"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/3fc4b86/comments?User-Agent=GitMate
  response:
    body: {string: '{"note":"Here in line 4, there''s a spelling mistake!","path":"README.md","line":4,"line_type":"new","author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"created_at":"2017-06-09T09:27:22.917Z"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"bf602a7d2d2e25cd9b86147ca0a0e49c"]
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"note": "Here in line 4, there''s a spelling mistake!", "line_type": "new",
      "line": 4, "path": "README.md", "body": "Here in line 4, there''s a spelling
      mistake!"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/6/notes?User-Agent=GitMate
  response:
    body: {string: '{"id":31908234,"body":"Here in line 4, there''s a spelling mistake!","attachment":null,"author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"created_at":"2017-06-09T09:27:26.322Z","updated_at":"2017-06-09T09:27:26.322Z","system":false,"noteable_id":3758430,"noteable_type":"MergeRequest"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"f48753b728d806b429d36db397afd5cf"]
    status: {code: 201, message: Created}
- request:
    body: '{"note": "Comment on 3fc4b860e0a2c17819934d678decacd914271e5c, file READNOT.md.\n\ntest
      comment", "line_type": "new", "body": "Comment on 3fc4b860e0a2c17819934d678decacd914271e5c,
      file READNOT.md.\n\ntest comment"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/6/notes?User-Agent=GitMate
  response:
    body: {string: '{"id":31908245,"body":"Comment on 3fc4b860e0a2c17819934d678decacd914271e5c,
        file READNOT.md.\n\ntest comment","attachment":null,"author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"created_at":"2017-06-09T09:27:28.360Z","updated_at":"2017-06-09T09:27:28.360Z","system":false,"noteable_id":3758430,"noteable_type":"MergeRequest"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"096995216bad54a8c85825f1fdd2a04e"]
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"note": "Comment on 3fc4b860e0a2c17819934d678decacd914271e5c.\n\nAn issue
      is here", "line_type": "new"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/3fc4b860e0a2c17819934d678decacd914271e5c/comments?User-Agent=IGitt
  response:
    body: {string: '{"note":"Comment on 3fc4b860e0a2c17819934d678decacd914271e5c.\n\nAn
        issue is here","path":null,"line":null,"line_type":null,"author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"created_at":"2017-06-14T10:28:01.429Z"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"9df74b7ce27f682f0b81bbdadcd23f0f"]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/3fc4b860e0a2c17819934d678decacd914271e5c/diff?User-Agent=IGitt
  response:
    body: {string: '[{"diff":"--- a/README.md\n+++ b/README.md\n@@ -1,2 +1,4 @@\n
        # test\n a test repo\n+\n+a tst pr\n","new_path":"README.md","old_path":"README.md","a_mode":"100644","b_mode":"100644","new_file":false,"renamed_file":false,"deleted_file":false,"too_large":null}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"706051d386064021c416ffa310d8f690"]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"note": "Comment on 3fc4b860e0a2c17819934d678decacd914271e5c, file READNOT.md,
      line 4.\n\ntest comment", "line_type": "new"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/3fc4b860e0a2c17819934d678decacd914271e5c/comments?User-Agent=IGitt
  response:
    body: {string: '{"note":"Comment on 3fc4b860e0a2c17819934d678decacd914271e5c,
        file READNOT.md, line 4.\n\ntest comment","path":null,"line":null,"line_type":null,"author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"created_at":"2017-06-14T10:29:16.725Z"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"df2fa9d4b074e307fae2cf7d3004c6df"]
    status: {code: 201, message: Created}
version: 1
