interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/3fc4b86/diff?User-Agent=GitMate
  response:
    body: {string: '[{"diff":"--- a/README.md\n+++ b/README.md\n@@ -1,2 +1,4 @@\n
        # test\n a test repo\n+\n+a tst pr\n","new_path":"README.md","old_path":"README.md","a_mode":"100644","b_mode":"100644","new_file":false,"renamed_file":false,"deleted_file":false,"too_large":null}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"706051d386064021c416ffa310d8f690"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/3fc4b860e0a2c17819934d678decacd914271e5c/diff?User-Agent=IGitt
  response:
    body: {string: '[{"diff":"--- a/README.md\n+++ b/README.md\n@@ -1,2 +1,4 @@\n
        # test\n a test repo\n+\n+a tst pr\n","new_path":"README.md","old_path":"README.md","a_mode":"100644","b_mode":"100644","new_file":false,"renamed_file":false,"deleted_file":false,"too_large":null}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"706051d386064021c416ffa310d8f690"]
    status: {code: 200, message: OK}
version: 1
