interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/3fc4b860e0a2c17819934d678decacd914271e5c/diff?per_page=100
  response:
    body: {string: '[{"old_path":"README.md","new_path":"README.md","a_mode":"100644","b_mode":"100644","new_file":false,"renamed_file":false,"deleted_file":false,"diff":"@@
        -1,2 +1,4 @@\n # test\n a test repo\n+\n+a tst pr\n"}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"f3bd22df054b8e07dd82ea1ab048269a"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['19']
      RateLimit-Remaining: ['581']
    status: {code: 200, message: OK}
version: 1
