interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests?per_page=100&state=opened
  response:
    body: {string: '[{"id":5213765,"iid":39,"project_id":3439658,"title":"Upload test
        image","description":"","state":"opened","created_at":"2017-09-28T20:38:11.919Z","updated_at":"2017-11-26T08:14:12.123Z","target_branch":"master","source_branch":"binary","upvotes":0,"downvotes":0,"author":{"id":889700,"name":"Naveen
        Kumar Sangi","username":"nkprince007","state":"active","avatar_url":"https://secure.gravatar.com/avatar/8021593fad6525a8164610bdf8183f23?s=80\u0026d=identicon","web_url":"https://gitlab.com/nkprince007"},"assignee":null,"source_project_id":3439658,"target_project_id":3439658,"labels":[],"work_in_progress":false,"milestone":null,"merge_when_pipeline_succeeds":false,"merge_status":"can_be_merged","sha":"6afe965df217b98628384d2e21c5565453027c8b","merge_commit_sha":null,"user_notes_count":3,"approvals_before_merge":null,"discussion_locked":null,"should_remove_source_branch":null,"force_remove_source_branch":true,"squash":false,"web_url":"https://gitlab.com/gitmate-test-user/test/merge_requests/39","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null}},{"id":4692040,"iid":27,"project_id":3439658,"title":"Add
        new file","description":"","state":"opened","created_at":"2017-08-15T16:50:26.953Z","updated_at":"2017-08-15T16:52:31.661Z","target_branch":"master","source_branch":"hello","upvotes":0,"downvotes":0,"author":{"id":889700,"name":"Naveen
        Kumar Sangi","username":"nkprince007","state":"active","avatar_url":"https://secure.gravatar.com/avatar/8021593fad6525a8164610bdf8183f23?s=80\u0026d=identicon","web_url":"https://gitla[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests?per_page=100&state=closed
  response:
    body: {string: '[{"id":6432303,"iid":60,"project_id":3439658,"title":"coafile","description":null,"state":"closed","created_at":"2017-11-30T03:06:07.444Z","updated_at":"2017-11-30T03:06:15.642Z","target_branch":"master","source_branch":"master","upvotes":0,"downvotes":0,"author":{"id":1650097,"name":"gitmate-test-user[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests?per_page=100
  response:
    body: {string: '[{"id":6432303,"iid":60,"project_id":3439658,"title":"coafile","description":null,"state":"closed","created_at":"2017-11-30T03:06:07.444Z","updated_at":"2017-11-30T03:06:15.642Z","target_branch":"master","source_branch":"master","upvotes":0,"downvotes":0,"author":{"id":1650097,"name":"gitmate-test-user-2","username[...]
