interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/hooks?User-Agent=IGitt&per_page=100
  response:
    body: {string: '[]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"d751713988987e9331980363e24189ce"]
      Link: ['<https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/hooks?User-Agent=IGitt&access_token=8f349fdd87380e328bebed337a7c699fad1f81ff8f49fc95ff38a5d5a2a9d717&id=gitmate-test-user%2Ftest&page=1&per_page=100>;
          rel="first", <https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/hooks?User-Agent=IGitt&access_token=8f349fdd87380e328bebed337a7c699fad1f81ff8f49fc95ff38a5d5a2a9d717&id=gitmate-test-user%2Ftest&page=0&per_page=100>;
          rel="last"']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['0']
      X-Total-Pages: ['0']
    status: {code: 200, message: OK}
- request:
    body: '{"url": "http://some.url/in/the/world", "enable_ssl_verification": false,
      "token": "secret", "merge_requests_events": true}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/hooks?User-Agent=IGitt
  response:
    body: {string: '{"id":220185,"url":"http://some.url/in/the/world","created_at":"2017-06-17T02:32:45.455Z","push_events":true,"tag_push_events":false,"enable_ssl_verification":false,"project_id":3439658,"issues_events":false,"merge_requests_events":true,"note_events":false,"pipeline_events":false,"wiki_page_events":false,"job_events":false}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"e9f3f088445066ec9b3ccf07c5802468"]
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/hooks/220185?User-Agent=IGitt
  response:
    body: {string: ''}
    headers:
    status: {code: 204, message: No Content}
[...]
- request:
    body: '{"url": "http://some.url/in/the/world", "enable_ssl_verification": false,
      "push_events": true, "issues_events": true, "merge_requests_events": true, "tag_push_events":
      true, "note_events": true, "job_events": true, "pipeline_events": true, "wiki_events":
      true}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/hooks?User-Agent=IGitt
  response:
    body: {string: '{"id":220186,"url":"http://some.url/in/the/world","created_at":"2017-06-17T02:33:06.455Z","push_events":true,"tag_push_events":true,"enable_ssl_verification":false,"project_id":3439658,"issues_events":true,"merge_requests_events":true,"note_events":true,"pipeline_events":true,"wiki_page_events":false,"job_events":true}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"cf84bfec42b70de0ea51bd6e1f6efe3c"]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/hooks?User-Agent=IGitt&per_page=100
  response:
    body: {string: '[{"id":220186,"url":"http://some.url/in/the/world","created_at":"2017-06-17T02:33:06.455Z","push_events":true,"tag_push_events":true,"enable_ssl_verification":false,"project_id":3439658,"issues_events":true,"merge_requests_events":true,"note_events":true,"pipeline_events":true,"wiki_page_events":false,"job_events":true}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"f2200ee178ea53a7a2ec759737e44e45"]
      Link: ['<https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/hooks?User-Agent=IGitt&access_token=8f349fdd87380e328bebed337a7c699fad1f81ff8f49fc95ff38a5d5a2a9d717&id=gitmate-test-user%2Ftest&page=1&per_page=100>;
          rel="first", <https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/hooks?User-Agent=IGitt&access_token=8f349fdd87380e328bebed337a7c699fad1f81ff8f49fc95ff38a5d5a2a9d717&id=gitmate-test-user%2Ftest&page=1&per_page=100>;
          rel="last"']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['1']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
version: 1
