interactions:
- request:
    body: '{"content": "I am a test repo! Updated content!", "branch": "master", "file_path":
      "/projects/gitmate-test-user%2Ftest/repository/files/README.md", "commit_message":
      "Update README"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/files/README.md?User-Agent=IGitt
  response:
    body: {string: '{"file_path":"README.md","branch":"master"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"632d2018d4b2d3bca499defdcb026021"]
    status: {code: 200, message: OK}
version: 1
