interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/674498fd415cfadc35c5eb28b8951e800f357c6f?User-Agent=GitMate
  response:
    body: {string: '{"id":"674498fd415cfadc35c5eb28b8951e800f357c6f","short_id":"674498fd","title":"Initial
        commit","created_at":"2016-01-13T08:56:15.000+01:00","parent_ids":[],"message":"Initial
        commit","author_name":"gitmate-test-user","author_email":"hostmaster@gitmate.io","authored_date":"2016-01-13T08:56:15.000+01:00","committer_name":"gitmate-test-user","committer_email":"hostmaster@gitmate.io","committed_date":"2016-01-13T08:56:15.000+01:00","stats":{"additions":2,"deletions":0,"total":2},"status":null}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"e66299d60938039ffe985378e88e7fdf"]
    status: {code: 200, message: OK}
version: 1
