interactions:
- request:
    body: '{"id": "gitmate-test-user/test", "namespace": "coafile"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/fork
  response:
    body: {string: '{"id":4235859,"description":"","default_branch":null,"tag_list":[],"ssh_url_to_repo":"git@gitlab.com:coafile/test.git","http_url_to_repo":"https://gitlab.com/coafile/test.git","web_url":"https://gitlab.com/coafile/test","name":"test","name_with_namespace":"coafile
        / test","path":"test","path_with_namespace":"coafile/test","star_count":0,"forks_count":0,"created_at":"2017-09-26T02:37:02.975Z","last_activity_at":"2017-09-26T02:37:02.975Z","_links":{"self":"http://gitlab.com/api/v4/projects/4235859","issues":"http://gitlab.com/api/v4/projects/4235859/issues","merge_requests":"http://gitlab.com/api/v4/projects/4235859/merge_requests","repo_branches":"http://gitlab.com/api/v4/projects/4235859/repository/branches","labels":"http://gitlab.com/api/v4/projects/4235859/labels","events":"http://gitlab.com/api/v4/projects/4235859/events","members":"http://gitlab.com/api/v4/projects/4235859/members"},"archived":false,"visibility":"public","owner":{"id":1451715,"name":"coafile","username":"coafile","state":"active","avatar_url":"https://secure.gravatar.com/avatar/c08f4b57e9c95c8d7e757bf827bcefec?s=80&d=identicon","web_url":"https://gitlab.com/coafile"},"resolve_outdated_diff_discussions":false,"container_registry_enabled":true,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":1451715,"namespace":{"id":1758508,"name":"coafile","path":"coafile","kind":"user","full_path":"coafile","parent_id":null},"forked_from_project":{"id":3439658,"description":"","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@gitlab.com:gitmate-test-user/test.git","http_url_to_repo":"https://gitlab.com/gitmate-test-user/test.git","web_url":"https://gitlab.com/gitmate-test-user/test","name":"test","name_with_namespace":"GitMate
        / test","path":"test","path_with_namespace":"gitmate-test-user/test","star_count":0,"forks_count":2,"created_at":"2017-06-05T04:56:19.418Z","last_activity_at":"2017-09-26T02:35:05.062Z"},"import_status":"scheduled","import_error":null,"avatar_url":null,"open_issues_count":0,"runners_token":"mWsDdmDGkdRqY9V7CBzx","public_jobs":true,"ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":false,"only_allow_merge_if_all_discussions_are_resolved":false,"printing_merge_request_link_enabled":true,"approvals_before_merge":0}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"27d4f101c7c62f5b2e456ed4186ce043"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['19']
      RateLimit-Remaining: ['581']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://gitlab.com/api/v4/projects/coafile%2Ftest
  response:
    body: {string: '{"message":"202 Accepted"}'}
    headers:
      Content-Type: [application/json]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['20']
      RateLimit-Remaining: ['580']
    status: {code: 202, message: Accepted}
version: 1
