interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/1?User-Agent=GitMate
  response:
    body: {string: '{"id":5613608,"iid":1,"project_id":3439658,"title":"new title","description":"I
        am a serious issue. Fix me soon, dude.","state":"reopened","created_at":"2017-06-05T05:19:51.840Z","updated_at":"2017-06-09T08:14:07.383Z","labels":["dem"],"milestone":null,"assignees":[{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"}],"author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"assignee":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"user_notes_count":14,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"weight":null,"web_url":"https://gitlab.com/gitmate-test-user/test/issues/1","subscribed":true}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"e2cab575c6f10f88ded236941b951294"]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/3?User-Agent=GitMate
  response:
    body: {string: '{"id":5613911,"iid":3,"project_id":3439658,"title":"Don''t add
        mean comments here!","description":"Stop trying to be badass.","state":"reopened","created_at":"2017-06-05T06:19:06.379Z","updated_at":"2017-06-09T08:35:55.834Z","labels":["dem"],"milestone":null,"assignees":[],"author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"assignee":null,"user_notes_count":4,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"weight":null,"web_url":"https://gitlab.com/gitmate-test-user/test/issues/3","subscribed":true}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"01b465bab71b0b14c78ec214439d2afb"]
    status: {code: 200, message: OK}
version: 1
