interactions:
- request:
    body: '{"file_path": "deleteme", "commit_message": "hello", "content": "hello",
      "branch": "master"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/files/deleteme
  response:
    body: {string: '{"file_path":"deleteme","branch":"master"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"8827443863f95630b41d5576df384a90"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['11']
      RateLimit-Remaining: ['589']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/files/deleteme?branch=master&commit_message=Delete+file&file_path=%2Fprojects%2Fgitmate-test-user%252Ftest%2Frepository%2Ffiles%2Fdeleteme
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['12']
      RateLimit-Remaining: ['588']
    status: {code: 204, message: No Content}
version: 1
