interactions:
- request:
    body: '{"state_event": "close"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/3?User-Agent=GitMate
  response:
    body: {string: '{"id":5613911,"iid":3,"project_id":3439658,"title":"new title","description":"Stop
        trying to be badass.","state":"closed","created_at":"2017-06-05T06:19:06.379Z","updated_at":"2017-06-09T08:38:23.217Z","labels":["dem"],"milestone":null,"assignees":[],"author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"assignee":null,"user_notes_count":4,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"weight":null,"web_url":"https://gitlab.com/gitmate-test-user/test/issues/3","subscribed":true}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"8e8cafc7f51cc1d384dc62facb8907cb"]
    status: {code: 200, message: OK}
- request:
    body: '{"state_event": "reopen"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/3?User-Agent=GitMate
  response:
    body: {string: '{"id":5613911,"iid":3,"project_id":3439658,"title":"new title","description":"Stop
        trying to be badass.","state":"reopened","created_at":"2017-06-05T06:19:06.379Z","updated_at":"2017-06-09T08:38:28.449Z","labels":["dem"],"milestone":null,"assignees":[],"author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"assignee":null,"user_notes_count":4,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"weight":null,"web_url":"https://gitlab.com/gitmate-test-user/test/issues/3","subscribed":true}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"af5c9766fc149576e9f1f8ae4d08f024"]
    status: {code: 200, message: OK}
version: 1
