interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/users?per_page=100&username=sils
  response:
    body: {string: '[{"id":104269,"name":"Lasse Schuirmann","username":"sils","state":"active","avatar_url":"https://secure.gravatar.com/avatar/ea9b9ed83df6acc43cc4ea26b0447ea7?s=80\u0026d=identicon","web_url":"https://gitlab.com/sils"}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"a37e5bb674e0601b24ce96829f3ce168"]
      Link: ['<https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=100&skip_ldap=false&username=sils>;
          rel="first", <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=100&skip_ldap=false&username=sils>;
          rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['9']
      RateLimit-Remaining: ['591']
      RateLimit-Reset: ['1512481231']
      RateLimit-ResetTime: ['Wed, 05 Dec 2017 13:40:31 GMT']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['1']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/users/104269?per_page=100
  response:
    body: {string: '{"id":104269,"name":"Lasse Schuirmann","username":"sils","state":"active","avatar_url":"https://secure.gravatar.com/avatar/ea9b9ed83df6acc43cc4ea26b0447ea7?s=80&d=identicon","web_url":"https://gitlab.com/sils","created_at":"2015-03-01T14:47:31.571Z","bio":"","location":"Hamburg","skype":"","linkedin":"","twitter":"","website_url":"viperdev.io","organization":null}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"cd40dab7d954d5d5bbbb2aca2449a21d"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['10']
      RateLimit-Remaining: ['590']
      RateLimit-Reset: ['1512481233']
      RateLimit-ResetTime: ['Wed, 05 Dec 2017 13:40:33 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/user?per_page=100
  response:
    body: {string: '{"id":1369631,"name":"GitMate","username":"gitmate-test-user","state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user","created_at":"2017-06-02T07:14:25.112Z","bio":null,"location":null,"skype":"","linkedin":"","twitter":"","website_url":"","organization":null,"last_sign_in_at":"2017-09-19T14:30:33.360Z","confirmed_at":"2017-06-02T07:17:21.578Z","last_activity_on":"2017-09-24","email":"naveendarknight@gmail.com","theme_id":null,"color_scheme_id":1,"projects_limit":100000,"current_sign_in_at":"2017-09-19T19:37:42.606Z","identities":[],"can_create_group":true,"can_create_project":true,"two_factor_enabled":false,"external":false,"shared_runners_minutes_limit":2000}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"d6d7c880f3f1baa30897d5b57f90a470"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['11']
      RateLimit-Remaining: ['589']
      RateLimit-Reset: ['1512481236']
      RateLimit-ResetTime: ['Wed, 05 Dec 2017 13:40:36 GMT']
    status: {code: 200, message: OK}
version: 1
