interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues?per_page=100&state=opened
  response:
    body: {string: '[{"id":6935337,"iid":34,"project_id":3439658,"title":"title","description":"body","state":"opened","created_at":"2017-09-24T17:52:59.375Z","updated_at":"2017-09-24T17:52:59.375Z","labels":[],"milestone":null,"assignees":[],"author":{"id":1369631,"name":"GitMate","username":"gitmate-test-user","state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80\u0026d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"assignee":null,"user_notes_count":0,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"weight":null,"web_url":"https://gitlab.com/gitmate-test-user/test/issues/34","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null}},{"id":6002929,"iid":32,"project_id":3439658,"title":"another
        one","description":"","state":"opened","created_at":"2017-07-07T10:38:34.299Z","updated_at":"2017-07-07T10:38:57.787Z","labels":[],"milestone":null,"assignees":[],"author":{"id":104269,"name":"Lasse
        Schuirmann","username":"sils","state":"active","avatar_url":"https://secure.gravatar.com/avatar/ea9b9ed83df6acc43cc4ea26b0447ea7?s=80\u0026d=identicon","web_url":"https://gitlab.com/sils"},"assignee":null,"user_notes_[...]
