interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests?per_page=100&state=opened
  response:
    body: {string: '[{"id":4854128,"iid":34,"project_id":3439658,"title":"test mr
        rebase","description":null,"state":"opened","created_at":"2017-08-30T12:57:05.416Z","updated_at":"2017-09-24T17:41:27.426Z","target_branch":"master","source_branch":"new-branch","upvotes":0,"downvotes":0,"author":{"id":1539304,"name":"test","username":"mr-rebase-test-user","state":"active","avatar_url":"https://secure.gravatar.com/avatar/2b7853a5bcdf7657671f4d3dc994f6cb?s=80\u0026d=identicon","web_url":"https://gitlab.com/mr-rebase-test-user"},"assignee":null,"source_project_id":3447786,"target_project_id":3439658,"labels":[],"work_in_progress":false,"milestone":null,"merge_when_pipeline_succeeds":false,"merge_status":"cannot_be_merged","sha":"645961c0841a84c1dd2a58535aa70ad45be48c46","merge_commit_sha":null,"user_notes_count":0,"approvals_before_merge":null,"should_remove_source_branch":null,"force_remove_source_branch":null,"squash":false,"web_url":"https://gitlab.com/gitmate-test-user/test/merge_requests/34","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null}},{"id":4692040,"iid":27,"project_id":3439658,"title":"Add
        new file","description":"","state":"opened","created_at":"2017-08-15T16:50:26.953Z","updated_at":"2017-08-15T16:52:31.661Z","target_branch":"master","source_branch":"hello","upvotes":0,"downvotes":0,"author":{"id":889700,"name":"Naveen
        Kumar Sangi","username":"nkprince007","state":"active","avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/889700/avatar.png","web_url":"https://gitlab.com/nkprince007"},"ass[...]
