interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits?per_page=100
  response:
    body: {string: '[{"id":"69e17e536092754e98aafbe5da0ee2be5fea81fb","short_id":"69e17e53","title":"Upload
        tokens.png","created_at":"2017-09-28T20:28:10.000+00:00","parent_ids":["05a9faff56fd9bdb25d18a554bb2f3320de3fc6f"],"message":"Upload
        tokens.png","author_name":"Naveen Kumar Sangi","author_email":"nkprince007@gmail.com","authored_date":"2017-09-28T20:28:10.000+00:00","committer_name":"Naveen
        Kumar Sangi","committer_email":"nkprince007@gmail.com","committed_date":"2017-09-28T20:28:10.000+00:00"},{"id":"05a9faff56fd9bdb25d18a554bb2f3320de3fc6f","short_id":"05a9faff","title":"Add
        .gitlab-ci.yml","created_at":"2017-09-28T19:45:56.000+00:00","parent_ids":["7747ee49b7d322e7d82520126ca275115aa67447"],"message":"Add
        .gitlab-ci.yml","author_name":"Naveen Kumar Sangi","author_email":"nkprince007@gmail.com","authored_date":"2017-09-28T19:45:56.000+00:00","committer_name":"Naveen
        Kumar Sangi","committer_email":"nkprince007@gmail.com","commit[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Fempty/repository/commits?per_page=100
  response:
    body: {string: '[]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"d751713988987e9331980363e24189ce"]
      Link: ['<https://gitlab.com/api/v4/projects/gitmate-test-user%2Fempty/repository/commits?id=gitmate-test-user%2Fempty&page=1&per_page=100>;
          rel="first", <https://gitlab.com/api/v4/projects/gitmate-test-user%2Fempty/repository/commits?id=gitmate-test-user%2Fempty&page=1&per_page=100>;
          rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['3']
      RateLimit-Remaining: ['597']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['0']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
version: 1
