interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests?User-Agent=IGitt&per_page=100&state=opened
  response:
    body: {string: '[{"id":3989845,"iid":20,"project_id":3439658,"title":"Test branch","description":"","state":"opened","created_at":"2017-06-27T01:26:06.808Z","updated_at":"2017-06-27T01:42:06.339Z","target_branch":"master","source_branch":"test-branch","upvotes":0,"downvotes":0,"author":{"name":"Naveen
        Kumar Sangi","username":"nkprince007","id":889700,"state":"active","avatar_url":"https://gitlab.com/uploads/system/user/avatar/889700/avatar.png","web_url":"https://gitlab.com/nkprince007"},"assignee":null,"source_project_id":3439658,"target_project_id":3439658,"labels":[],"work_in_progress":false,"milestone":null,"merge_when_pipeline_succeeds":false,"merge_status":"can_be_merged","sha":"411aa50afdb27385357656a61f4a618b4036fe53","merge_commit_sha":null,"user_notes_count":2,"approvals_before_merge":null,"should_remove_source_branch":null,"force_remove_source_branch":true,"squash":false,"web_url":"https://gitlab.com/gitmate-test-user/test/merge_requests/20"},{"id":3888706,"iid":17,"project_id":3439658,"title":"Update
        README.md","description":"","state":"opened","created_at":"2017-06-18T06:02:47.092Z","updated_at":"2017-06-19T12:10:11.331Z","target_branch":"master","source_branch":"gitmate-test-user-patch-2","upvotes":0,"downvotes":0,"author":{"name":"Naveen
        Kumar Sangi","username":"nkprince007","id":889700,"state":"active","avatar_url":"https://gitlab.com/[...]
