interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/todos/5574368/mark_as_done
  response:
    body: {string: '{"id":5574368,"project":{"id":3439658,"description":"","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@gitlab.com:gitmate-test-user/test.git","http_url_to_repo":"https://gitlab.com/gitmate-test-user/test.git","web_url":"https://gitlab.com/gitmate-test-user/test","name":"test","name_with_namespace":"GitMate
        / test","path":"test","path_with_namespace":"gitmate-test-user/test","star_count":0,"forks_count":2,"created_at":"2017-06-05T04:56:19.418Z","last_activity_at":"2017-09-30T12:14:49.016Z"},"author":{"id":889700,"name":"Naveen
        Kumar Sangi","username":"nkprince007","state":"active","avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/889700/avatar.png","web_url":"https://gitlab.com/nkprince007"},"action_name":"directly_addressed","target_type":"Issue","target":{"id":5613896,"iid":2,"project_id":3439658,"title":"Don''t
        assign me to anyone!","description":"I wish I stay alone and no one disturbs
        me.","state":"opened","created_at":"2017-06-05T06:17:38.486Z","updated_at":"2017-09-30T12:14:48.936Z","labels":[],"milestone":null,"assignees":[],"author":{"id":1369631,"name":"GitMate","username":"gitmate-test-user","state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"assignee":null,"user_notes_count":1,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"weight":null,"web_url":"https://gitlab.com/gitmate-test-user/test/issues/2","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"_links":{"self":"http://gitlab.com/api/v4/projects/3439658/issues/2","notes":"http://gitlab.com/api/v4/projects/3439658/issues/2/notes","award_emoji":"http://gitlab.com/api/v4/projects/3439658/issues/2/award_emoji","project":"http://gitlab.com/api/v4/projects/3439658"},"subscribed":true},"target_url":"https://gitlab.com/gitmate-test-user/test/issues/2#note_41983293","body":"@gitmate-test-user
        Hello","state":"done","created_at":"2017-09-30T12:14:48.929Z"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"f69958f44206aaf57ac8fa668ca4e3ea"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['6']
      RateLimit-Remaining: ['594']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/todos?per_page=100
  response:
    body: {string: '[{"id":3789039,"project":{"id":3439658,"description":"","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@gitlab.com:gitmate-test-user/test.git","http_url_to_repo":"https://gitlab.com/gitmate-test-user/test.git","web_url":"https://gitlab.com/gitmate-test-user/test","name":"test","name_with_namespace":"GitMate
        / test","path":"test","path_with_namespace":"gitmate-test-user/test","star_count":0,"forks_count":2,"created_at":"2017-06-05T04:56:19.418Z","last_activity_at":"2017-09-30T12:14:49.016Z"},"author":{"id":1369631,"name":"GitMate","username":"gitmate-test-user","state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80\u0026d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"action_name":"build_failed","target_type":"MergeRequest","target":{"id":3757647,"iid":2,"project_id":3439658,"title":"Sils/severalcommits","description":"","state":"opened","created_at":"2017-06-07T03:51:41.112Z","updated_at":"2017-06-16T08:11:45.849Z","target_branch":"master","source_branch":"sils/severalcommits","upvotes":0,"downvotes":0,"author":{"id":1369631,"name":"GitMate","username":"gitmate-test-user","state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80\u0026d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"assignee":null,"source_project_id":3439658,"target_project_id":3439658,"labels":[],"work_in_progress":false,"milestone":null,"merge_when_pipeline_succeeds":false,"merge_status":"unchecked","sha":"99f484ae167dcfcc35008ba3b5b564443d425ee0","merge_commit_sha":null,"user_notes_count":0,"approvals_before_merge":null,"should_remove_source_branch":null,"force_remove_source_branch":null,"squash":false,"web_url":"https://gitlab.com/gitmate-test-user/test/merge_requests/2","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"subscribed":true},"target_url":"https://gitlab.com/gitmate-test-user/test/merge_requests/2","body":"Sils/severalcommits","state":"pending","created_at":"2017-06-16T08:11:45.836Z"}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"1e4674c3cf2de689da85433b8a00b391"]
      Link: ['<https://gitlab.com/api/v4/todos?page=1&per_page=100>; rel="first",
          <https://gitlab.com/api/v4/todos?page=1&per_page=100>; rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['7']
      RateLimit-Remaining: ['593']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['1']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
version: 1
