interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/3fc4b860e0a2c17819934d678decacd914271e5c/diff?per_page=100
  response:
    body: {string: '[{"old_path":"README.md","new_path":"README.md","a_mode":"100644","b_mode":"100644","new_file":false,"renamed_file":false,"deleted_file":false,"diff":"---
        a/README.md\n+++ b/README.md\n@@ -1,2 +1,4 @@\n # test\n a test repo\n+\n+a
        tst pr\n"}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"46079dae82ad04c92e55c726c45f2354"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['24']
      RateLimit-Remaining: ['576']
    status: {code: 200, message: OK}
version: 1
