interactions:
- request:
    body: '{"id": "gitmate-test-user/test", "namespace": "gitmate-test-user-2"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/fork
  response:
    body: {string: '{"message":{"route.path":["has already been taken"],"route":["is
        invalid"],"path":["has already been taken"],"name":["has already been taken"],"base":["There
        is already a repository with that name on disk","Unable to save project. Error:
        Route path has already been taken, Route is invalid, Path has already been
        taken, Name has already been taken, There is already a repository with that
        name on disk"]}}'}
    headers:
      Content-Type: [application/json]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['13']
      RateLimit-Remaining: ['587']
    status: {code: 409, message: Conflict}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user-2%2Ftest
  response:
    body: {string: '{"message":"202 Accepted"}'}
    headers:
      Content-Type: [application/json]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['14']
      RateLimit-Remaining: ['586']
    status: {code: 202, message: Accepted}
- request:
    body: '{"id": "gitmate-test-user/test", "namespace": "gitmate-test-user-2"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/fork
  response:
    body: {string: '{"id":4264340,"description":"","default_branch":null,"tag_list":[],"ssh_url_to_repo":"git@gitlab.com:gitmate-test-user-2/test.git","http_url_to_repo":"https://gitlab.com/gitmate-test-user-2/test.git","web_url":"https://gitlab.com/gitmate-test-user-2/test","name":"test","name_with_namespace":"gitmate-test-user-2
        / test","path":"test","path_with_namespace":"gitmate-test-user-2/test","star_count":0,"forks_count":0,"created_at":"2017-09-29T08:55:16.594Z","last_activity_at":"2017-09-29T08:55:16.594Z","_links":{"self":"http://gitlab.com/api/v4/projects/4264340","issues":"http://gitlab.com/api/v4/projects/4264340/issues","merge_requests":"http://gitlab.com/api/v4/projects/4264340/merge_requests","repo_branches":"http://gitlab.com/api/v4/projects/4264340/repository/branches","labels":"http://gitlab.com/api/v4/projects/4264340/labels","events":"http://gitlab.com/api/v4/projects/4264340/events","members":"http://gitlab.com/api/v4/projects/4264340/members"},"archived":false,"visibility":"public","owner":{"id":1650097,"name":"gitmate-test-user-2","username":"gitmate-test-user-2","state":"active","avatar_url":"https://secure.gravatar.com/avatar/f4fc254dd90f5e6a196ebaf43699e30f?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user-2"},"resolve_outdated_diff_discussions":false,"container_registry_enabled":true,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":1650097,"namespace":{"id":2020022,"name":"gitmate-test-user-2","path":"gitmate-test-user-2","kind":"user","full_path":"gitmate-test-user-2","parent_id":null},"forked_from_project":{"id":3439658,"description":"","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@gitlab.com:gitmate-test-user/test.git","http_url_to_repo":"https://gitlab.com/gitmate-test-user/test.git","web_url":"https://gitlab.com/gitmate-test-user/test","name":"test","name_with_namespace":"GitMate
        / test","path":"test","path_with_namespace":"gitmate-test-user/test","star_count":0,"forks_count":3,"created_at":"2017-06-05T04:56:19.418Z","last_activity_at":"2017-09-29T06:06:32.871Z"},"import_status":"scheduled","import_error":null,"avatar_url":null,"open_issues_count":0,"runners_token":"6EQv4Vg6Ngp68n3r-sTx","public_jobs":true,"ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":false,"only_allow_merge_if_all_discussions_are_resolved":false,"printing_merge_request_link_enabled":true,"approvals_before_merge":0}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"7ef956787d9eaf81e57e8f1f41fcbcd6"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['15']
      RateLimit-Remaining: ['585']
    status: {code: 201, message: Created}
- request:
    body: '{"content": "hello", "file_path": ".coafile", "commit_message": "hello",
      "branch": "master"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user-2%2Ftest/repository/files/.coafile
  response:
    body: {string: '{"file_path":".coafile","branch":"master"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"8401c9688817b9cd522d370f7d64a5d3"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['16']
      RateLimit-Remaining: ['584']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest?per_page=100
  response:
    body: {string: '{"id":3439658,"description":"","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@gitlab.com:gitmate-test-user/test.git","http_url_to_repo":"https://gitlab.com/gitmate-test-user/test.git","web_url":"https://gitlab.com/gitmate-test-user/test","name":"test","name_with_namespace":"GitMate
        / test","path":"test","p[...]
- request:
    body: '{"title": "coafile", "source_branch": "master", "target_project_id": 3439658,
      "id": "gitmate-test-user-2%2Ftest", "target_branch": "master"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user-2%2Ftest/merge_requests
  response:
    body: {string: '{"id":5219081,"iid":41,"project_id":3439658,"title":"coafile","description":null,"state":"opened","created_at":"2017-09-29T08:55:25.322Z","updated_at":"2017-09-29T08:55:27.486Z","target_branch":"master","source_branch":"master","upvotes":0,"downvotes":0,"author":{"id":1650097,"name":"gitmate-test-user-2","username":"gitmate-test-user-2","state":"active","avatar_url":"https://secure.gravatar.com/avatar/f4fc254dd90f5e6a196ebaf43699e30f?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user-2"},"assignee":null,"source_project_id":4264340,"target_project_id":3439658,"labels":[],"work_in_progress":false,"milestone":null,"merge_when_pipeline_succeeds":false,"merge_status":"unchecked","sha":"71ba1000127c7b906482517faf3927bd80ecade9","merge_commit_sha":null,"user_notes_count":0,"approvals_before_merge":null,"should_remove_source_branch":null,"force_remove_source_branch":null,"squash":false,"web_url":"https://gitlab.com/gitmate-test-user/test/merge_requests/41","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"subscribed":true}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"c5e0cb4601c2a97ccbacc287181a3c8e"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['18']
      RateLimit-Remaining: ['582']
    status: {code: 201, message: Created}
version: 1
