interactions:
- request:
    body: '{"merge_commit_message": "Test commit title\nTest commit body", "should_remove_source_branch":
      true, "merge_when_pipeline_succeeds": true, "sha": "2dfdc8f236fd5a4683ac52addb9d92b2920d6cfe"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/75/merge
  response:
    body: {string: '{"id":7154981,"iid":75,"project_id":3439658,"title":"Update temp1","description":"","state":"merged","created_at":"2018-01-12T17:42:53.244Z","updated_at":"2018-01-12T17:44:40.816Z","target_branch":"master","source_branch":"b3","upvotes":0,"downvotes":0,"author":{"id":362269,"name":"Andrew
        Dassonville","username":"andrewda","state":"active","avatar_url":"https://secure.gravatar.com/avatar/38f682efadbaacd2ba53d44466c2775a?s=80&d=identicon","web_url":"https://gitlab.com/andrewda"},"assignee":null,"source_project_id":5090865,"target_project_id":3439658,"labels":[],"work_in_progress":false,"milestone":null,"merge_when_pipeline_succeeds":false,"merge_status":"can_be_merged","sha":"2dfdc8f236fd5a4683ac52addb9d92b2920d6cfe","merge_commit_sha":"3f49e40b56723a773c8d817a815c5a4a26115df7","user_notes_count":0,"approvals_before_merge":null,"discussion_locked":null,"should_remove_source_branch":null,"force_remove_source_branch":true,"squash":false,"web_url":"https://gitlab.com/gitmate-test-user/test/merge_requests/75","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"subscribed":true,"changes_count":"1"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"e0c840458b89eabd45cd858db7d1b8b7"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1515779144']
      RateLimit-ResetTime: ['Sat, 12 Jan 2018 17:45:44 GMT']
    status: {code: 200, message: OK}
version: 1
