interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://gitlab.com/api/v4/user?per_page=100
  response:
    body: {string: "{\"id\":1369631,\"name\":\"GitMate Labs \U0001F47D\",\"username\"\
        :\"gitmate-test-user\",\"state\":\"active\",\"avatar_url\":\"https://assets.gitlab-static.net/uploads/-/system/user/avatar/1369631/avatar.png\"\
        ,\"web_url\":\"https://gitlab.com/gitmate-test-user\",\"created_at\":\"2017-06-02T07:14:25.112Z\"\
        ,\"bio\":\"\",\"location\":\"\",\"skype\":\"\",\"linkedin\":\"\",\"twitter\"\
        :\"\",\"website_url\":\"\",\"organization\":\"\",\"last_sign_in_at\":\"2017-09-19T19:37:42.606Z\"\
        ,\"confirmed_at\":\"2017-06-02T07:17:21.578Z\",\"last_activity_on\":\"2018-01-12\"\
        ,\"email\":\"naveendarknight@gmail.com\",\"theme_id\":null,\"color_scheme_id\"\
        :1,\"projects_limit\":100000,\"current_sign_in_at\":\"2018-01-04T05:49:40.964Z\"\
        ,\"identities\":[],\"can_create_group\":true,\"can_create_project\":true,\"\
        two_factor_enabled\":false,\"external\":false,\"shared_runners_minutes_limit\"\
        :2000}"}
    headers:
      Content-Type: [application/json]
      Etag: [W/"0091ce2a52201a5e638acaa7dc174a52"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1521453929']
      RateLimit-ResetTime: ['Tue, 19 Mar 2018 10:05:29 GMT']
    status: {code: 200, message: OK}
version: 1
