interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/3fc4b86?User-Agent=GitMate
  response:
    body: {string: '{"id":"3fc4b860e0a2c17819934d678decacd914271e5c","short_id":"3fc4b860","title":"Update
        README.md","created_at":"2016-01-24T18:49:12.000+01:00","parent_ids":["674498fd415cfadc35c5eb28b8951e800f357c6f"],"message":"Update
        README.md","author_name":"gitmate-test-user","author_email":"hostmaster@gitmate.io","authored_date":"2016-01-24T18:49:12.000+01:00","committer_name":"gitmate-test-user","committer_email":"hostmaster@gitmate.io","committed_date":"2016-01-24T18:49:12.000+01:00","stats":{"additions":2,"deletions":0,"total":2},"status":"success"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"411d9df422770563367929acb0f752ba"]
    status: {code: 200, message: OK}
- request:
    body: '{"state": "failed", "target_url": "", "description": "Theres a problem",
      "name": "gitmate/test"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/statuses/3fc4b860e0a2c17819934d678decacd914271e5c?User-Agent=GitMate
  response:
    body: {string: '{"id":18277944,"sha":"3fc4b860e0a2c17819934d678decacd914271e5c","ref":"gitmate-test-user-patch-1","status":"failed","name":"gitmate/test","target_url":null,"description":"Theres
        a problem","created_at":"2017-06-09T09:27:42.248Z","started_at":null,"finished_at":"2017-06-09T09:27:42.280Z","allow_failure":false,"coverage":null,"author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"}}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"7c28ed7c4be9d6d659bb469df8a5514b"]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/3fc4b860e0a2c17819934d678decacd914271e5c/statuses?User-Agent=GitMate
  response:
    body: {string: '[{"id":18277944,"sha":"3fc4b860e0a2c17819934d678decacd914271e5c","ref":"gitmate-test-user-patch-1","status":"failed","name":"gitmate/test","target_url":null,"description":"Theres
        a problem","created_at":"2017-06-09T09:27:42.248Z","started_at":null,"finished_at":"2017-06-09T09:27:42.280Z","allow_failure":false,"coverage":null,"author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80\u0026d=identicon","web_url":"https://gitlab.com/gitmate-test-user"}}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"c1897bebea85bd8c869b60c6a5a04c12"]
      Link: ['<https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/3fc4b860e0a2c17819934d678decacd914271e5c/statuses?User-Agent=GitMate&id=gitmate-test-user%2Ftest&page=1&per_page=20&sha=3fc4b860e0a2c17819934d678decacd914271e5c>;
          rel="first", <https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/3fc4b860e0a2c17819934d678decacd914271e5c/statuses?User-Agent=GitMate&id=gitmate-test-user%2Ftest&page=1&per_page=20&sha=3fc4b860e0a2c17819934d678decacd914271e5c>;
          rel="last"']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['20']
      X-Prev-Page: ['']
      X-Total: ['1']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
version: 1
