interactions:
- request:
    body: '{"body": "test comment body has changed"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/30/notes/32616806
  response:
    body: {string: '{"id":32616806,"body":"test comment body has changed","attachment":null,"author":{"id":683065,"name":"Arjun
        Singh Yadav","username":"arjunsinghy96","state":"active","avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/683065/avatar.png","web_url":"https://gitlab.com/arjunsinghy96"},"created_at":"2017-06-17T14:45:23.388Z","updated_at":"2017-09-24T11:35:40.900Z","system":false,"noteable_id":5741041,"noteable_type":"Issue","noteable_iid":30}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"20f2a7c85eb5694c3bc29d01b08594aa"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['5']
      RateLimit-Remaining: ['595']
    status: {code: 200, message: OK}
- request:
    body: '{"body": "test comment body to change"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/30/notes/32616806
  response:
    body: {string: '{"id":32616806,"body":"test comment body to change","attachment":null,"author":{"id":683065,"name":"Arjun
        Singh Yadav","username":"arjunsinghy96","state":"active","avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/683065/avatar.png","web_url":"https://gitlab.com/arjunsinghy96"},"created_at":"2017-06-17T14:45:23.388Z","updated_at":"2017-09-24T11:36:31.116Z","system":false,"noteable_id":5741041,"noteable_type":"Issue","noteable_iid":30}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"77bbe2fc74f819adb03ddfa7991af837"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['6']
      RateLimit-Remaining: ['594']
    status: {code: 200, message: OK}
version: 1
