interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/groups/gitmate-test-org?per_page=100
  response:
    body: {string: '{"id":1999111,"name":"gitmate-test-org","path":"gitmate-test-org","description":"","visibility":"public","ldap_cn":null,"ldap_access":null,"lfs_enabled":true,"avatar_url":null,"web_url":"https://gitlab.com/groups/gitmate-test-org","request_access_enabled":false,"full_name":"gitmate-test-org","full_path":"gitmate-test-org","parent_id":null,"projects":[],"shared_projects":[],"shared_runners_minutes_limit":null}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"b41ebad975b45f5e8bf4cef30bf7ffa6"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1511938200']
      RateLimit-ResetTime: ['Thu, 29 Nov 2017 06:50:00 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/groups/gitmate-test-org%2Fsubgroup?per_page=100
  response:
    body: {string: '{"id":1999237,"name":"subgroup","path":"subgroup","description":"","visibility":"public","ldap_cn":null,"ldap_access":null,"lfs_enabled":true,"avatar_url":null,"web_url":"https://gitlab.com/groups/gitmate-test-org/subgroup","request_access_enabled":false,"full_name":"gitmate-test-org
        / subgroup","full_path":"gitmate-test-org/subgroup","parent_id":1999111,"projects":[],"shared_projects":[],"shared_runners_minutes_limit":null}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"a12645a891b7266410a1b7be1bf6417d"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1511938202']
      RateLimit-ResetTime: ['Thu, 29 Nov 2017 06:50:02 GMT']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/groups/gitmate-test-user?per_page=100
  response:
    body: {string: '{"message":"404 Group Not Found"}'}
    headers:
      Content-Type: [application/json]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['2']
      RateLimit-Remaining: ['598']
      RateLimit-Reset: ['1511938204']
      RateLimit-ResetTime: ['Thu, 29 Nov 2017 06:50:04 GMT']
    status: {code: 404, message: Not Found}
version: 1
