interactions:
- request:
    body: '{"id": "gitmate-test-user/test", "namespace": "coafile"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/fork?User-Agent=IGitt
  response:
    body: {string: '{"message":{"route.path":["has already been taken"],"route":["is
        invalid"],"path":["has already been taken"],"name":["has already been taken"],"base":["Unable
        to save project. Error: Route path has already been taken, Route is invalid,
        Path has already been taken, Name has already been taken"]}}'}
    headers:
      Content-Type: [application/json]
    status: {code: 409, message: Conflict}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://gitlab.com/api/v4/projects/coafile%2Ftest?User-Agent=IGitt
  response:
    body: {string: '{"message":"202 Accepted"}'}
    headers:
      Content-Type: [application/json]
    status: {code: 202, message: Accepted}
- request:
    body: '{"id": "gitmate-test-user/test", "namespace": "coafile"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/fork?User-Agent=IGitt
  response:
    body: {string: '{"id":3715351,"description":"","default_branch":null,"tag_list":[],"archived":false,"visibility":"public","ssh_url_to_repo":"git@gitlab.com:coafile/test.git","http_url_to_repo":"https://gitlab.com/coafile/test.git","web_url":"https://gitlab.com/coafile/test","owner":{"name":"coafile","username":"coafile","id":1451715,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/c08f4b57e9c95c8d7e757bf827bcefec?s=80&d=identicon","web_url":"https://gitlab.com/coafile"},"name":"test","name_with_namespace":"coafile
        / test","path":"test","path_with_namespace":"coafile/test","container_registry_enabled":true,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"created_at":"2017-07-16T13:46:53.522Z","last_activity_at":"2017-07-16T13:46:53.522Z","shared_runners_enabled":true,"lfs_enabled":true,"creator_id":1451715,"namespace":{"id":1758508,"name":"coafile","path":"coafile","kind":"user","full_path":"coafile","parent_id":null},"forked_from_project":{"id":3439658,"http_url_to_repo":"https://gitlab.com/gitmate-test-user/test.git","web_url":"https://gitlab.com/gitmate-test-user/test","name":"test","name_with_namespace":"GitMate
        / test","path":"test","path_with_namespace":"gitmate-test-user/test"},"import_status":"scheduled","import_error":null,"avatar_url":null,"star_count":0,"forks_count":0,"open_issues_count":0,"runners_token":"_k5tenxB-RpsyaCqYWxK","public_jobs":true,"ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":false,"only_allow_merge_if_all_discussions_are_resolved":false,"printing_merge_request_link_enabled":true,"approvals_before_merge":0}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"67824a2f79d9b958114167dadb27263b"]
    status: {code: 201, message: Created}
- request:
    body: '{"content": "hello", "branch": "master", "commit_message": "hello", "file_path":
      ".coafile"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/coafile%2Ftest/repository/files/.coafile?User-Agent=IGitt
  response:
    body: {string: '{"file_path":".coafile","branch":"master"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"8401c9688817b9cd522d370f7d64a5d3"]
    status: {code: 201, message: Created}
version: 1
