interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest?per_page=100
  response:
    body: {string: '{"id":3439658,"description":"","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@gitlab.com:gitmate-test-user/test.git","http_url_to_repo":"https://gitlab.com/gitmate-test-user/test.git","web_url":"https://gitlab.com/gitmate-test-user/test","name":"test","name_with_namespace":"GitMate
        / test","path":"test","path_with_namespace":"gitmate-test-user/test","star_count":0,"forks_count":2,"created_at":"2017-06-05T04:56:19.418Z","last_activity_at":"2017-09-30T12:14:49.016Z","_links":{"self":"http://gitlab.com/api/v4/projects/3439658","issues":"http://gitlab.com/api/v4/projects/3439658/issues","merge_requests":"http://gitlab.com/api/v4/projects/3439658/merge_requests","repo_branches":"http://gitlab.com/api/v4/projects/3439658/repository/branches","labels":"http://gitlab.com/api/v4/projects/3439658/labels","events":"http://gitlab.com/api/v4/projects/3439658/events","members":"http://gitlab.com/api/v4/projects/3439658/members"},"archived":false,"visibility":"public","owner":{"id":1369631,"name":"GitMate","username":"gitmate-test-user","state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"resolve_outdated_diff_discussions":null,"container_registry_enabled":true,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":1369631,"namespace":{"id":1652018,"name":"gitmate-test-user","path":"gitmate-test-user","kind":"user","full_path":"gitmate-test-user","parent_id":null,"plan":"early_adopter"},"import_status":"failed","import_error":"Mirror
        update for gitmate-test-user/test failed with the following message: The default
        branch (master) has diverged from its upstream counterpart and could not be
        updated automatically.","avatar_url":null,"open_issues_count":13,"runners_token":"mJspL93WBs-yfGkkvpos","public_jobs":true,"ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":false,"only_allow_merge_if_all_discussions_are_resolved":false,"printing_merge_request_link_enabled":true,"approvals_before_merge":0,"permissions":{"project_access":{"access_level":40,"notification_level":3},"group_access":null}}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"612c4d4f223bd58021e8231a8fe67d74"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['10']
      RateLimit-Remaining: ['590']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/gitmate-test-user/test/issues?state=all
  response:
    body: {string: "<!DOCTYPE html>\n<html class=\"\" lang=\"en\">\n<head prefix=\"\
        og: http://ogp.me/ns#\">\n<meta charset=\"utf-8\">\n<meta content=\"IE=edge\"\
        \ http-equiv=\"X-UA-Compatible\">\n<meta content=\"object\" property=\"og:type\"\
        >\n<meta content=\"GitLab\" property=\"og:site_name\">\n<meta content=\"Issues\
        \ \xB7 GitMate / test\" property=\"og:title\">\n<meta content=\"GitLab.com\"\
        \ property=\"og:description\">\n<meta content=\"https://gitlab.com/assets/gitlab_logo-7ae504fe4f68fdebb3c2034e36621930cd36ea87924c11ff65dbcb8ed50dca58.png\"\
        \ property=\"og:image\">\n<meta content=\"64\" property=\"og:image:width\"\
        >\n<meta content=\"64\" property=\"og:image:height\">\n<meta content=\"https://gitlab.com/gitmate-test-user/test/issues?state=all&amp;access_token=98f0f5b512132e1a255f6f6b400f6a121c7a35c838bdf6c9cf0750ef09a97b9f\"\
        \ property=\"og:url\">\n<meta content=\"summary\" property=\"twitter:card\"\
        >\n<meta content=\"Issues \xB7 GitMate / test\" property=\"twitter:title\"\
        >\n<meta content=\"GitLab.com\" property=\"twitter:description\">\n<meta content=\"\
        https://gitlab.com/assets/gitlab_logo-7ae504fe4f68fdebb3c2034e36621930cd36ea87924c11ff65dbcb8ed50dca58.png\"\
        \ property=\"twitter:image\">\n\n<title>Issues \xB7 GitMate / test \xB7 GitLab</title>\n\
        <meta content=\"GitLab.com\" name=\"description\">\n<link rel=\"shortcut icon\"\
        \ type=\"image/x-icon\" href=\"/assets/favicon-075eba76312e8421991a0c1f89a89ee81678bcde72319dd3e8047e2a47cd3a42.ico\"\
        \ id=\"favicon\" />\n<link rel=\"stylesheet\" media=\"all\" href=\"/assets/application-6a3ef04d2d06f6f387f3926420b39edb4fcbcc563aedc3dc9a94e19092c3752b.css\"\
        \ />\n<link rel=\"stylesheet\" media=\"print\" href=\"/assets/print-74b3d49adeaada27337e759b75a34af7cf3d80051de91d60d40570f5a382e132.css\"\
        \ />\n\n\n<!-- / TODO: Combine these 2 stylesheets into application.scss -->\n\
        <link rel=\"stylesheet\" media=\"all\" href=\"/assets/new_nav-9dc36451d6461185b3c501b73a23f48936cda9ee5b0b8f9b1001c951ce12eabf.css\"\
        \ />\n<link rel=\"stylesheet\" media=\"all\" href=\"/assets/new_sidebar-1f383f3cb338b8ecf8062dab06052141f414f51165f656b97a0930c0d38cd7dc.css\"\
        \ />\n<script>\n//<![CDATA[\nwindow.gon={};gon.api_version=\"v4\";gon.default_avatar_url=\"\
        https:\\/\\/gitlab.com\\/assets\\/no_avatar-849f9c04a3a0d0cea2424ae97b27447dc64a7dbfae83c036c45b403392f0e8ba.png\"\
        ;gon.max_file_size=10;gon.asset_host=null;gon.webpack_public_path=\"\\/assets\\\
        /webpack\\/\";gon.relative_url_root=\"\";gon.shortcuts_path=\"\\/help\\/shortcuts\"\
        ;gon.user_color_scheme=\"white\";gon.katex_css_url=\"\\/assets\\/katex-dc07578acd203b2dd73a8c78cdb8dcb79144[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/23?per_page=100
  response:
    body: {string: '{"id":5659413,"iid":23,"project_id":3439658,"title":"test title","description":"test
        body","state":"opened","created_at":"2017-06-09T08:25:09.680Z","updated_at":"2017-07-29T15:13:07.355Z","labels":[],"milestone":null,"assignees":[],"author":{"id":1369631,"name":"GitMate","username":"gitmate-test-user","state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"assignee":null,"user_notes_count":0,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"weight":null,"web_url":"https://gitlab.com/gitmate-test-user/test/issues/23","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"_links":{"self":"http://gitlab.com/api/v4/projects/3439658/issues/23","notes":"http://gitlab.com/api/v4/projects/3439658/issues/23/notes","award_emoji":"http://gitlab.com/api/v4/projects/3439658/issues/23/award_emoji","project":"http://gitlab.com/api/v4/projects/3439658"},"subscribed":true}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"b359308a30ef54680a211f59ff7c5e3e"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['11']
      RateLimit-Remaining: ['589']
    status: {code: 200, message: OK}
[...]
