interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues?User-Agent=IGitt&per_page=100&state=opened
  response:
    body: {string: '[{"id":6002929,"iid":32,"project_id":3439658,"title":"another
        one","description":"","state":"opened","created_at":"2017-07-07T10:38:34.299Z","updated_at":"2017-07-07T10:38:57.787Z","labels":[],"milestone":null,"assignees":[],"author":{"name":"Lasse
        Schuirmann","username":"sils","id":104269,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/ea9b9ed83df6acc43cc4ea26b0447ea7?s=80\u0026d=identicon","web_url":"https://gitlab.com/sils"},"assignee":null,"user_notes_count":3,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"weight":null,"web_url":"https://gitlab.com/gitmate-test-user/test/issues/32"},{"id":5795065,"iid":31,"project_id":3439658,"title":"test
        title","description":"test body","state":"opened","created_at":"2017-06-21T06:16:05.391Z","updated_at":"2017-06-21T06:16:05.391Z","labels":[],"milestone":null,"assignees":[],"author":{"name":"Meet
        Mangukiya","username":"meetmangukiya","id":707601,"state":"active","avatar_url":"https://gitlab.com/uploads/system/user/avatar/707601/avatar.png","web_url":"ht[...]
