interactions:
- request:
    body: '{"id": "gitmate-test-user/test", "namespace": "coafile"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/fork?User-Agent=IGitt
  response:
    body: {string: '{"message":{"route.path":["has already been taken"],"route":["is
        invalid"],"path":["has already been taken"],"name":["has already been taken"],"base":["Unable
        to save project. Error: Route path has already been taken, Route is invalid,
        Path has already been taken, Name has already been taken"]}}'}
    headers:
      Content-Type: [application/json]
    status: {code: 409, message: Conflict}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://gitlab.com/api/v4/projects/coafile%2Ftest?User-Agent=IGitt
  response:
    body: {string: '{"message":"202 Accepted"}'}
    headers:
      Content-Type: [application/json]
    status: {code: 202, message: Accepted}
- request:
    body: '{"id": "gitmate-test-user/test", "namespace": "coafile"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/fork?User-Agent=IGitt
  response:
    body: {string: '{"id":3715379,"description":"","default_branch":null,"tag_list":[],"archived":false,"visibility":"public","ssh_url_to_repo":"git@gitlab.com:coafile/test.git","http_url_to_repo":"https://gitlab.com/coafile/test.git","web_url":"https://gitlab.com/coafile/test","owner":{"name":"coafile","username":"coafile","id":1451715,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/c08f4b57e9c95c8d7e757bf827bcefec?s=80&d=identicon","web_url":"https://gitlab.com/coafile"},"name":"test","name_with_namespace":"coafile
        / test","path":"test","path_with_namespace":"coafile/test","container_registry_enabled":true,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"created_at":"2017-07-16T13:52:58.083Z","last_activity_at":"2017-07-16T13:52:58.083Z","shared_runners_enabled":true,"lfs_enabled":true,"creator_id":1451715,"namespace":{"id":1758508,"name":"coafile","path":"coafile","kind":"user","full_path":"coafile","parent_id":null},"forked_from_project":{"id":3439658,"http_url_to_repo":"https://gitlab.com/gitmate-test-user/test.git","web_url":"https://gitlab.com/gitmate-test-user/test","name":"test","name_with_namespace":"GitMate
        / test","path":"test","path_with_namespace":"gitmate-test-user/test"},"import_status":"scheduled","import_error":null,"avatar_url":null,"star_count":0,"forks_count":0,"open_issues_count":0,"runners_token":"1yybBtDiuvjxpdouY4kz","public_jobs":true,"ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":false,"only_allow_merge_if_all_discussions_are_resolved":false,"printing_merge_request_link_enabled":true,"approvals_before_merge":0}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"073f97d9d101fd300cae40df9df2e318"]
    status: {code: 201, message: Created}
- request:
    body: '{"content": "hello", "file_path": ".coafile", "branch": "master", "commit_message":
      "hello"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/coafile%2Ftest/repository/files/.coafile?User-Agent=IGitt
  response:
    body: {string: '{"file_path":".coafile","branch":"master"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"8401c9688817b9cd522d370f7d64a5d3"]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest?User-Agent=IGitt&per_page=100
  response:
    body: {string: '{"id":3439658,"description":"","default_branch":"master","tag_list":[],"archived":false,"visibility":"public","ssh_url_to_repo":"git@gitlab.com:gitmate-test-user/test.git","http_url_to_repo":"https://gitlab.com/gitmate-test-user/test.git","web_url":"https://gitlab.com/gitmate-test-user/test","owner":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"name":"test","name_with_namespace":"GitMate
        / test","path":"test","path_with_namespace":"gitmate-test-user/test","container_registry_enabled":true,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"created_at":"2017-06-05T04:56:19.418Z","last_activity_at":"2017-07-16T13:37:01.589Z","shared_runners_enabled":true,"lfs_enabled":true,"creator_id":1369631,"namespace":{"id":1652018,"name":"gitmate-test-user","path":"gitmate-test-user","kind":"user","full_path":"gitmate-test-user","parent_id":null,"plan":null},"import_status":"failed","import_error":"Mirror
        update for gitmate-test-user/test failed with the following message: The default
        branch (master) has diverged from its upstream counterpart and could not be
        updated automatically.","avatar_url":null,"star_count":0,"forks_count":2,"open_issues_count":12,"runners_token":"mJspL93WBs-yfGkkvpos","public_jobs":true,"ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":false,"only_allow_merge_if_all_discussions_are_resolved":false,"printing_merge_request_link_enabled":true,"approvals_before_merge":0,"permissions":{"project_access":{"access_level":40,"notification_level":3},"group_access":null}}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"5f94b4c96e6352958653e1d80a0278ba"]
    status: {code: 200, message: OK}
- request:
    body: '{"target_branch": "master", "title": "coafile", "target_project_id": 3439658,
      "id": "coafile%2Ftest", "source_branch": "master"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/coafile%2Ftest/merge_requests?User-Agent=IGitt
  response:
    body: {string: '{"id":4277219,"iid":23,"project_id":3439658,"title":"coafile","description":null,"state":"opened","created_at":"2017-07-16T13:53:07.857Z","updated_at":"2017-07-16T13:53:07.857Z","target_branch":"master","source_branch":"master","upvotes":0,"downvotes":0,"author":{"name":"coafile","username":"coafile","id":1451715,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/c08f4b57e9c95c8d7e757bf827bcefec?s=80&d=identicon","web_url":"https://gitlab.com/coafile"},"assignee":null,"source_project_id":3715379,"target_project_id":3439658,"labels":[],"work_in_progress":false,"milestone":null,"merge_when_pipeline_succeeds":false,"merge_status":"unchecked","sha":"afc0a0d4d3bf53806f0834820db6a3e67269807e","merge_commit_sha":null,"user_notes_count":0,"approvals_before_merge":null,"should_remove_source_branch":null,"force_remove_source_branch":null,"squash":false,"web_url":"https://gitlab.com/gitmate-test-user/test/merge_requests/23","subscribed":true}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"36d6b41edc8bf9ad8ef51c11c201ddba"]
    status: {code: 201, message: Created}
version: 1
