interactions:
- request:
    body: '{"id": "gitmate-test-user/test", "namespace": "gitmate-test-user-2"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/fork
  response:
    body: {string: '{"id":4264337,"description":"","default_branch":null,"tag_list":[],"ssh_url_to_repo":"git@gitlab.com:gitmate-test-user-2/test.git","http_url_to_repo":"https://gitlab.com/gitmate-test-user-2/test.git","web_url":"https://gitlab.com/gitmate-test-user-2/test","name":"test","name_with_namespace":"gitmate-test-user-2
        / test","path":"test","path_with_namespace":"gitmate-test-user-2/test","star_count":0,"forks_count":0,"created_at":"2017-09-29T08:54:51.451Z","last_activity_at":"2017-09-29T08:54:51.451Z","_links":{"self":"http://gitlab.com/api/v4/projects/4264337","issues":"http://gitlab.com/api/v4/projects/4264337/issues","merge_requests":"http://gitlab.com/api/v4/projects/4264337/merge_requests","repo_branches":"http://gitlab.com/api/v4/projects/4264337/repository/branches","labels":"http://gitlab.com/api/v4/projects/4264337/labels","events":"http://gitlab.com/api/v4/projects/4264337/events","members":"http://gitlab.com/api/v4/projects/4264337/members"},"archived":false,"visibility":"public","owner":{"id":1650097,"name":"gitmate-test-user-2","username":"gitmate-test-user-2","state":"active","avatar_url":"https://secure.gravatar.com/avatar/f4fc254dd90f5e6a196ebaf43699e30f?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user-2"},"resolve_outdated_diff_discussions":false,"container_registry_enabled":true,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"shared_runners_enabled":true,"lfs_enabled":true,"creator_id":1650097,"namespace":{"id":2020022,"name":"gitmate-test-user-2","path":"gitmate-test-user-2","kind":"user","full_path":"gitmate-test-user-2","parent_id":null},"forked_from_project":{"id":3439658,"description":"","default_branch":"master","tag_list":[],"ssh_url_to_repo":"git@gitlab.com:gitmate-test-user/test.git","http_url_to_repo":"https://gitlab.com/gitmate-test-user/test.git","web_url":"https://gitlab.com/gitmate-test-user/test","name":"test","name_with_namespace":"GitMate
        / test","path":"test","path_with_namespace":"gitmate-test-user/test","star_count":0,"forks_count":3,"created_at":"2017-06-05T04:56:19.418Z","last_activity_at":"2017-09-29T06:06:32.871Z"},"import_status":"scheduled","import_error":null,"avatar_url":null,"open_issues_count":0,"runners_token":"pTtadW7RDCCnqyyAKrhL","public_jobs":true,"ci_config_path":null,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":false,"only_allow_merge_if_all_discussions_are_resolved":false,"printing_merge_request_link_enabled":true,"approvals_before_merge":0}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"aa404bb1b946911685a0015b9f0598d4"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['8']
      RateLimit-Remaining: ['592']
    status: {code: 201, message: Created}
- request:
    body: '{"author_name": "gitmate-test-user-2", "content": "hello", "commit_message":
      "hello", "branch": "master", "file_path": ".coafile", "author_email": "coafilecoala@gmail.com"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user-2%2Ftest/repository/files/.coafile
  response:
    body: {string: '{"file_path":".coafile","branch":"master"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"8401c9688817b9cd522d370f7d64a5d3"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['9']
      RateLimit-Remaining: ['591']
    status: {code: 201, message: Created}
version: 1
