interactions:
- request:
    body: '{"state": "failed", "target_url": "", "description": "Theres a problem",
      "name": "gitmate/test"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/statuses/3fc4b860e0a2c17819934d678decacd914271e5c
  response:
    body: {string: '{"id":34384355,"sha":"3fc4b860e0a2c17819934d678decacd914271e5c","ref":"gitmate-test-user-patch-1","status":"failed","name":"gitmate/test","target_url":null,"description":"Theres
        a problem","created_at":"2017-09-28T16:26:15.116Z","started_at":null,"finished_at":"2017-09-28T16:26:15.173Z","allow_failure":false,"coverage":null,"author":{"id":1369631,"name":"GitMate","username":"gitmate-test-user","state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"}}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"c222f7c1e669ae8ef5cacd5bf6734294"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['4']
      RateLimit-Remaining: ['596']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/3fc4b860e0a2c17819934d678decacd914271e5c/statuses?per_page=100
  response:
    body: {string: '[{"id":34384355,"sha":"3fc4b860e0a2c17819934d678decacd914271e5c","ref":"gitmate-test-user-patch-1","status":"failed","name":"gitmate/test","target_url":null,"description":"Theres
        a problem","created_at":"2017-09-28T16:26:15.116Z","started_at":null,"finished_at":"2017-09-28T16:26:15.173Z","allow_failure":false,"coverage":null,"author":{"id":1369631,"name":"GitMate","username":"gitmate-test-user","state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80\u0026d=identicon","web_url":"https://gitlab.com/gitmate-test-user"}}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"44026548e32c2037a9ba733189595b2f"]
      Link: ['<https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/3fc4b860e0a2c17819934d678decacd914271e5c/statuses?id=gitmate-test-user%2Ftest&page=1&per_page=100&sha=3fc4b860e0a2c17819934d678decacd914271e5c>;
          rel="first", <https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/3fc4b860e0a2c17819934d678decacd914271e5c/statuses?id=gitmate-test-user%2Ftest&page=1&per_page=100&sha=3fc4b860e0a2c17819934d678decacd914271e5c>;
          rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['5']
      RateLimit-Remaining: ['595']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['1']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
version: 1
