interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/users?per_page=100&username=sils
  response:
    body: {string: '[{"id":104269,"name":"Lasse Schuirmann","username":"sils","state":"active","avatar_url":"https://secure.gravatar.com/avatar/ea9b9ed83df6acc43cc4ea26b0447ea7?s=80\u0026d=identicon","web_url":"https://gitlab.com/sils"}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"a37e5bb674e0601b24ce96829f3ce168"]
      Link: ['<https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=100&skip_ldap=false&username=sils>;
          rel="first", <https://gitlab.com/api/v4/users?active=false&blocked=false&external=false&page=1&per_page=100&skip_ldap=false&username=sils>;
          rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['7']
      RateLimit-Remaining: ['593']
      RateLimit-Reset: ['1512481227']
      RateLimit-ResetTime: ['Wed, 05 Dec 2017 13:40:27 GMT']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['1']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/users/104269?per_page=100
  response:
    body: {string: '{"id":104269,"name":"Lasse Schuirmann","username":"sils","state":"active","avatar_url":"https://secure.gravatar.com/avatar/ea9b9ed83df6acc43cc4ea26b0447ea7?s=80&d=identicon","web_url":"https://gitlab.com/sils","created_at":"2015-03-01T14:47:31.571Z","bio":"","location":"Hamburg","skype":"","linkedin":"","twitter":"","website_url":"viperdev.io","organization":null}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"cd40dab7d954d5d5bbbb2aca2449a21d"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['8']
      RateLimit-Remaining: ['592']
      RateLimit-Reset: ['1512481229']
      RateLimit-ResetTime: ['Wed, 05 Dec 2017 13:40:29 GMT']
    status: {code: 200, message: OK}
version: 1
