interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/groups/gitmate-test-org/members?per_page=100
  response:
    body: {string: '[{"id":1369631,"name":"GitMate","username":"gitmate-test-user","state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80\u0026d=identicon","web_url":"https://gitlab.com/gitmate-test-user","access_level":40,"expires_at":null},{"id":104269,"name":"Lasse
        Schuirmann","username":"sils","state":"active","avatar_url":"https://secure.gravatar.com/avatar/ea9b9ed83df6acc43cc4ea26b0447ea7?s=80\u0026d=identicon","web_url":"https://gitlab.com/sils","access_level":50,"expires_at":null},{"id":889700,"name":"Naveen
        Kumar Sangi","username":"nkprince007","state":"active","avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/889700/avatar.png","web_url":"https://gitlab.com/nkprince007","access_level":50,"expires_at":null}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"eaa4066ee0c13df103b7ef560067cd03"]
      Link: ['<https://gitlab.com/api/v4/groups/gitmate-test-org/members?id=gitmate-test-org&page=1&per_page=100>;
          rel="first", <https://gitlab.com/api/v4/groups/gitmate-test-org/members?id=gitmate-test-org&page=1&per_page=100>;
          rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['28']
      RateLimit-Remaining: ['572']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['3']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/groups?per_page=100
  response:
    body: {string: '[{"id":1999522,"name":"another-subgroup","path":"another-subgroup","description":"","visibility":"public","ldap_cn":null,"ldap_access":null,"lfs_enabled":true,"avatar_url":null,"web_url":"https://gitlab.com/groups/gitmate-test-org/another-subgroup","request_access_enabled":false,"full_name":"gitmate-test-org
        / another-subgroup","full_path":"gitmate-test-org/another-subgroup","parent_id":1999111},{"id":1999111,"name":"gitmate-test-org","path":"gitmate-test-org","description":"","visibility":"public","ldap_cn":null,"ldap_access":null,"lfs_enabled":true,"avatar_url":null,"web_url":"https://gitlab.com/groups/gitmate-test-org","request_access_enabled":false,"full_name":"gitmate-test-org","full_path":"gitmate-test-org","parent_id":null},{"id":1999237,"name":"subgroup","path":"subgroup","description":"","visibility":"public","ldap_cn":null,"ldap_access":null,"lfs_enabled":true,"avatar_url":null,"web_url":"https://gitlab.com/groups/gitmate-test-org/subgroup","request_access_enabled":false,"full_name":"gitmate-test-org
        / subgroup","full_path":"gitmate-test-org/subgroup","parent_id":1999111}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"b41b792c594899318cfb79e3ffba9fe4"]
      Link: ['<https://gitlab.com/api/v4/groups?order_by=name&owned=false&page=1&per_page=100&sort=asc&statistics=false>;
          rel="first", <https://gitlab.com/api/v4/groups?order_by=name&owned=false&page=1&per_page=100&sort=asc&statistics=false>;
          rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['29']
      RateLimit-Remaining: ['571']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['3']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/groups/gitmate-test-org%2Fanother-subgroup/members?per_page=100
  response:
    body: {string: '[{"id":170770,"name":"Fabian Neuschmidt","username":"fneu","state":"active","avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/170770/avatar.png","web_url":"https://gitlab.com/fneu","access_level":10,"expires_at":null},{"id":104269,"name":"Lasse
        Schuirmann","username":"sils","state":"active","avatar_url":"https://secure.gravatar.com/avatar/ea9b9ed83df6acc43cc4ea26b0447ea7?s=80\u0026d=identicon","web_url":"https://gitlab.com/sils","access_level":50,"expires_at":null}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"0cf196510723ca4d946a7f8eb89e0c9e"]
      Link: ['<https://gitlab.com/api/v4/groups/gitmate-test-org%2Fanother-subgroup/members?id=gitmate-test-org%2Fanother-subgroup&page=1&per_page=100>;
          rel="first", <https://gitlab.com/api/v4/groups/gitmate-test-org%2Fanother-subgroup/members?id=gitmate-test-org%2Fanother-subgroup&page=1&per_page=100>;
          rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['30']
      RateLimit-Remaining: ['570']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['2']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/groups/gitmate-test-org%2Fsubgroup/members?per_page=100
  response:
    body: {string: '[{"id":1399318,"name":"GitMate Bot","username":"gitmate-bot","state":"active","avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/1399318/avatar.png","web_url":"https://gitlab.com/gitmate-bot","access_level":20,"expires_at":null},{"id":889700,"name":"Naveen
        Kumar Sangi","username":"nkprince007","state":"active","avatar_url":"https://gitlab.com/uploads/-/system/user/avatar/889700/avatar.png","web_url":"https://gitlab.com/nkprince007","access_level":50,"expires_at":null}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"23970e66698b832cae9f9aad28bd152e"]
      Link: ['<https://gitlab.com/api/v4/groups/gitmate-test-org%2Fsubgroup/members?id=gitmate-test-org%2Fsubgroup&page=1&per_page=100>;
          rel="first", <https://gitlab.com/api/v4/groups/gitmate-test-org%2Fsubgroup/members?id=gitmate-test-org%2Fsubgroup&page=1&per_page=100>;
          rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['31']
      RateLimit-Remaining: ['569']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['2']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/groups/gitmate-test-user/members?per_page=100
  response:
    body: {string: '{"message":"404 Group Not Found"}'}
    headers:
      Content-Type: [application/json]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['35']
      RateLimit-Remaining: ['565']
    status: {code: 404, message: Not Found}
version: 1
