interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/labels?per_page=100
  response:
    body: {string: '[{"id":2105509,"name":"a","color":"#428BCA","description":"","open_issues_count":0,"closed_issues_count":0,"open_merge_requests_count":0,"priority":null,"subscribed":false},{"id":2105511,"name":"b","color":"#428BCA","description":"","open_issues_count":0,"closed_issues_count":0,"open_merge_requests_count":0,"priority":null,"subscribed":false},{"id":2105512,"name":"c","color":"#004E00","description":"","open_issues_count":0,"closed_issues_count":0,"open_merge_requests_count":0,"priority":null,"subscribed":false},{"id":2127066,"name":"dem","color":"#428BCA","description":null,"open_issues_count":2,"closed_issues_count":0,"open_merge_requests_count":0,"priority":null,"subscribed":false}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"7d4e83b5fc5462b5e7e509d88d943838"]
      Link: ['<https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/labels?id=gitmate-test-user%2Ftest&page=1&per_page=100>;
          rel="first", <https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/labels?id=gitmate-test-user%2Ftest&page=1&per_page=100>;
          rel="last"']
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['47']
      RateLimit-Remaining: ['553']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['100']
      X-Prev-Page: ['']
      X-Total: ['4']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"name": "bug", "color": "#000000"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/labels
  response:
    body: {string: '{"id":2741257,"name":"bug","color":"#000000","description":null,"open_issues_count":0,"closed_issues_count":0,"open_merge_requests_count":0,"priority":null,"subscribed":false}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"e335dcdf2b3270fa4398008f24e35945"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['50']
      RateLimit-Remaining: ['550']
    status: {code: 201, message: Created}
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/labels?name=bug
  response:
    body: {string: ''}
    headers:
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['53']
      RateLimit-Remaining: ['547']
    status: {code: 204, message: No Content}
[...]
