interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues?User-Agent=IGitt&per_page=100
  response:
    body: {string: '[{"id":5795065,"iid":31,"project_id":3439658,"title":"test title","description":"test
        body","state":"opened","created_at":"2017-06-21T06:16:05.391Z","updated_at":"2017-06-21T06:16:05.391Z","labels":[],"milestone":null,"assignees":[],"author":{"name":"Meet
        Mangukiya","username":"meetmangukiya","id":707601,"state":"active","avatar_url":"https://gitlab.com/uploads/system/user/avatar/707601/avatar.png","web_url":"https://gitlab.com/meetmangukiya"},"assignee":null,"user_notes_count":0,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"weight":null,"web_url":"https://gitlab.com/gitmate-test-user/test/issues/31"},{"id":5741041,"iid":30,"project_id":3439658,"title":"comment
        change test","description":"issue to test comment updation","state":"opened","created_at":"2017-06-17T14:45:01.839Z","updated_at":"2017-06-18T05:35:25.951Z","labels":[],"milestone":null,"assignees":[],"author":{"name":"Arjun
        Singh Yadav","username":"arjunsinghy96","id":683065,"state":"active","avatar_url":"https://gitlab.com/uploads/system/user/avatar[...]
