interactions:
- request:
    body: '{"title": "test title", "description": "test body"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues
  response:
    body: {string: '{"id":6935028,"iid":33,"project_id":3439658,"title":"test title","description":"test
        body","state":"opened","created_at":"2017-09-24T17:06:28.046Z","updated_at":"2017-09-24T17:06:28.046Z","labels":[],"milestone":null,"assignees":[],"author":{"id":1369631,"name":"GitMate","username":"gitmate-test-user","state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"assignee":null,"user_notes_count":0,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"weight":null,"web_url":"https://gitlab.com/gitmate-test-user/test/issues/33","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"_links":{"self":"http://gitlab.com/api/v4/projects/3439658/issues/33","notes":"http://gitlab.com/api/v4/projects/3439658/issues/33/notes","award_emoji":"http://gitlab.com/api/v4/projects/3439658/issues/33/award_emoji","project":"http://gitlab.com/api/v4/projects/3439658"},"subscribed":true}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"951311476dfe965d4ad2f67e551fa588"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['12']
      RateLimit-Remaining: ['588']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/33
  response:
    body: {string: ''}
    headers:
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['13']
      RateLimit-Remaining: ['587']
    status: {code: 204, message: No Content}
version: 1
