interactions:
- request:
    body: '{"body": "this is a test comment"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/3/notes
  response:
    body: {string: '{"id":41804698,"body":"this is a test comment","attachment":null,"author":{"id":1369631,"name":"GitMate","username":"gitmate-test-user","state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"created_at":"2017-09-28T16:26:32.914Z","updated_at":"2017-09-28T16:26:32.914Z","system":false,"noteable_id":5613911,"noteable_type":"Issue","noteable_iid":3}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"5ecbbe5c1b8b628251cc5d68c4a51172"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['9']
      RateLimit-Remaining: ['591']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/3/notes?per_page=100
  response:
    body: {string: '[{"id":41804698,"body":"this is a test comment","attachment":null,"author":{"id":1369631,"name":"GitMate","username":"gitmate-test-user","state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80\u0026d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"create[...]
