interactions:
- request:
    body: '{"state": "failed", "target_url": "", "description": "Theres a problem",
      "name": "gitmate/test"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/statuses/3fc4b86?User-Agent=IGitt
  response:
    body: {string: '{"id":18627186,"sha":"3fc4b860e0a2c17819934d678decacd914271e5c","ref":"gitmate-test-user-patch-1","status":"failed","name":"gitmate/test","target_url":null,"description":"Theres
        a problem","created_at":"2017-06-14T10:25:45.707Z","started_at":null,"finished_at":"2017-06-14T10:25:45.729Z","allow_failure":false,"coverage":null,"author":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"}}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"dfa52483d8b3bc633b958a5684b67040"]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/3fc4b86/statuses?User-Agent=IGitt
  response:
    body: {string: '[]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"d751713988987e9331980363e24189ce"]
      Link: ['<https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/3fc4b86/statuses?User-Agent=IGitt&id=gitmate-test-user%2Ftest&page=1&per_page=20&private_token=UtQ1zsWdKv_vqA5yVnE4&sha=3fc4b86>;
          rel="first", <https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/3fc4b86/statuses?User-Agent=IGitt&id=gitmate-test-user%2Ftest&page=0&per_page=20&private_token=UtQ1zsWdKv_vqA5yVnE4&sha=3fc4b86>;
          rel="last"']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['20']
      X-Prev-Page: ['']
      X-Total: ['0']
      X-Total-Pages: ['0']
    status: {code: 200, message: OK}
[...]
