interactions:
- request:
    body: '{"title": "title", "description": "body"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues
  response:
    body: {string: '{"id":6935337,"iid":34,"project_id":3439658,"title":"title","description":"body","state":"opened","created_at":"2017-09-24T17:52:59.375Z","updated_at":"2017-09-24T17:52:59.375Z","labels":[],"milestone":null,"assignees":[],"author":{"id":1369631,"name":"GitMate","username":"gitmate-test-user","state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"assignee":null,"user_notes_count":0,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"weight":null,"web_url":"https://gitlab.com/gitmate-test-user/test/issues/34","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"_links":{"self":"http://gitlab.com/api/v4/projects/3439658/issues/34","notes":"http://gitlab.com/api/v4/projects/3439658/issues/34/notes","award_emoji":"http://gitlab.com/api/v4/projects/3439658/issues/34/award_emoji","project":"http://gitlab.com/api/v4/projects/3439658"},"subscribed":true}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"23d9b264dbd66ddc5c9b979292285569"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['52']
      RateLimit-Remaining: ['548']
    status: {code: 201, message: Created}
version: 1
