interactions:
- request:
    body: '{"note": "Comment on 3fc4b860e0a2c17819934d678decacd914271e5c.\n\nAn issue
      is here", "line_type": "new"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/3fc4b860e0a2c17819934d678decacd914271e5c/comments
  response:
    body: {string: '{"note":"Comment on 3fc4b860e0a2c17819934d678decacd914271e5c.\n\nAn
        issue is here","path":null,"line":null,"line_type":null,"author":{"id":1369631,"name":"GitMate","username":"gitmate-test-user","state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"created_at":"2017-09-24T11:38:56.368Z"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"69a937bca770a5a44f80c291ba08ab36"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['11']
      RateLimit-Remaining: ['589']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/3fc4b860e0a2c17819934d678decacd914271e5c/diff?per_page=100
  response:
    body: {string: '[{"old_path":"README.md","new_path":"README.md","a_mode":"100644","b_mode":"100644","new_file":false,"renamed_file":false,"deleted_file":false,"diff":"@@
        -1,2 +1,4 @@\n # test\n a test repo\n+\n+a tst pr\n"}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"f3bd22df054b8e07dd82ea1ab048269a"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['12']
      RateLimit-Remaining: ['588']
    status: {code: 200, message: OK}
- request:
    body: '{"note": "Here in line 4, there''s a spelling mistake!", "line_type": "new",
      "line": 4, "path": "README.md"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/3fc4b860e0a2c17819934d678decacd914271e5c/comments
  response:
    body: {string: '{"note":"Here in line 4, there''s a spelling mistake!","path":"README.md","line":4,"line_type":"new","author":{"id":1369631,"name":"GitMate","username":"gitmate-test-user","state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"created_at":"2017-09-24T11:39:10.057Z"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"4425a6b6c4fc37bd679c5c49c295f032"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['13']
      RateLimit-Remaining: ['587']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"note": "Comment on 3fc4b860e0a2c17819934d678decacd914271e5c, file READNOT.md.\n\ntest
      comment", "line_type": "new", "body": "Comment on 3fc4b860e0a2c17819934d678decacd914271e5c,
      file READNOT.md.\n\ntest comment"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/merge_requests/6/notes
  response:
    body: {string: '{"id":41236989,"body":"Comment on 3fc4b860e0a2c17819934d678decacd914271e5c,
        file READNOT.md.\n\ntest comment","attachment":null,"author":{"id":1369631,"name":"GitMate","username":"gitmate-test-user","state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"created_at":"2017-09-24T11:39:25.771Z","updated_at":"2017-09-24T11:39:25.771Z","system":false,"noteable_id":3758430,"noteable_type":"MergeRequest","noteable_iid":6}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"971da35d7e2181f3335e5de3d261a4bf"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['16']
      RateLimit-Remaining: ['584']
    status: {code: 201, message: Created}
[...]
- request:
    body: '{"note": "Comment on 3fc4b860e0a2c17819934d678decacd914271e5c, file READNOT.md,
      line 4.\n\ntest comment", "line_type": "new"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/repository/commits/3fc4b860e0a2c17819934d678decacd914271e5c/comments
  response:
    body: {string: '{"note":"Comment on 3fc4b860e0a2c17819934d678decacd914271e5c,
        file READNOT.md, line 4.\n\ntest comment","path":null,"line":null,"line_type":null,"author":{"id":1369631,"name":"GitMate","username":"gitmate-test-user","state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"created_at":"2017-09-24T11:39:39.154Z"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"d657aa0ec2a64275f92883dbb13cc344"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['18']
      RateLimit-Remaining: ['582']
    status: {code: 201, message: Created}
version: 1
