interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/23/award_emoji/17051518?per_page=100
  response:
    body: {string: '{"message":"404 Not found"}'}
    headers:
      Content-Type: [application/json]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['1']
      RateLimit-Remaining: ['599']
      RateLimit-Reset: ['1512676605']
      RateLimit-ResetTime: ['Fri, 07 Dec 2017 19:56:45 GMT']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/23/award_emoji/490941?per_page=100
  response:
    body: {string: '{"id":490941,"name":"thumbsdown","user":{"id":889700,"name":"Naveen
        Kumar Sangi","username":"nkprince007","state":"active","avatar_url":"https://secure.gravatar.com/avatar/2ed27920a4ec4445d0e390a30df7145d?s=80&d=identicon","web_url":"https://gitlab.com/nkprince007"},"created_at":"2017-12-07T18:18:42.243Z","updated_at":"2017-12-07T18:18:42.243Z","awardable_id":5659413,"awardable_type":"Issue"}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"57c48d427caea8439747c01724e92e22"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['3']
      RateLimit-Remaining: ['597']
      RateLimit-Reset: ['1512676654']
      RateLimit-ResetTime: ['Fri, 07 Dec 2017 19:57:34 GMT']
    status: {code: 200, message: OK}
version: 1
