interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects/gitmate-test-user%2Ftest/issues/1?per_page=100
  response:
    body: {string: '{"id":5613608,"iid":1,"project_id":3439658,"title":"new title","description":"I
        am a serious issue. Fix me soon, dude.","state":"opened","created_at":"2017-06-05T05:19:51.840Z","updated_at":"2017-06-09T08:25:34.687Z","labels":["dem"],"milestone":null,"assignees":[{"id":1369631,"name":"GitMate","username":"gitmate-test-user","state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"}],"author":{"id":1369631,"name":"GitMate","username":"gitmate-test-user","state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"assignee":{"id":1369631,"name":"GitMate","username":"gitmate-test-user","state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80&d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"user_notes_count":15,"upvotes":0,"downvotes":0,"due_date":null,"confidential":false,"weight":null,"web_url":"https://gitlab.com/gitmate-test-user/test/issues/1","time_stats":{"time_estimate":0,"total_time_spent":0,"human_time_estimate":null,"human_total_time_spent":null},"_links":{"self":"http://gitlab.com/api/v4/projects/3439658/issues/1","notes":"http://gitlab.com/api/v4/projects/3439658/issues/1/notes","award_emoji":"http://gitlab.com/api/v4/projects/3439658/issues/1/award_emoji","project":"http://gitlab.com/api/v4/projects/3439658"},"subscribed":true}'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"f6a7d082344ed0d59ebb2f7ab36f221c"]
      RateLimit-Limit: ['600']
      RateLimit-Observed: ['59']
      RateLimit-Remaining: ['541']
    status: {code: 200, message: OK}
version: 1
