interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://gitlab.com/api/v4/projects?User-Agent=GitMate&membership=True
  response:
    body: {string: '[{"id":3439664,"description":"","default_branch":null,"tag_list":[],"archived":false,"visibility":"internal","ssh_url_to_repo":"git@gitlab.com:nkprince007/gitmate-test.git","http_url_to_repo":"https://gitlab.com/nkprince007/gitmate-test.git","web_url":"https://gitlab.com/nkprince007/gitmate-test","owner":{"name":"Naveen
        Kumar Sangi","username":"nkprince007","id":889700,"state":"active","avatar_url":"https://gitlab.com/uploads/system/user/avatar/889700/avatar.png","web_url":"https://gitlab.com/nkprince007"},"name":"gitmate-test","name_with_namespace":"Naveen
        Kumar Sangi / gitmate-test","path":"gitmate-test","path_with_namespace":"nkprince007/gitmate-test","container_registry_enabled":true,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"created_at":"2017-06-05T04:58:11.062Z","last_activity_at":"2017-06-05T04:58:11.062Z","shared_runners_enabled":true,"lfs_enabled":true,"creator_id":889700,"namespace":{"id":1066470,"name":"nkprince007","path":"nkprince007","kind":"user","full_path":"nkprince007"},"avatar_url":null,"star_count":0,"forks_count":0,"open_issues_count":0,"public_jobs":true,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":false,"only_allow_merge_if_all_discussions_are_resolved":false,"approvals_before_merge":0,"permissions":{"project_access":{"access_level":30,"notification_level":3},"group_access":null}},{"id":3439658,"description":"","default_branch":"master","tag_list":[],"archived":false,"visibility":"public","ssh_url_to_repo":"git@gitlab.com:gitmate-test-user/test.git","http_url_to_repo":"https://gitlab.com/gitmate-test-user/test.git","web_url":"https://gitlab.com/gitmate-test-user/test","owner":{"name":"GitMate","username":"gitmate-test-user","id":1369631,"state":"active","avatar_url":"https://secure.gravatar.com/avatar/27e08ed25afa8578cb3a346964f0de32?s=80\u0026d=identicon","web_url":"https://gitlab.com/gitmate-test-user"},"name":"test","name_with_namespace":"GitMate
        / test","path":"test","path_with_namespace":"gitmate-test-user/test","container_registry_enabled":true,"issues_enabled":true,"merge_requests_enabled":true,"wiki_enabled":true,"jobs_enabled":true,"snippets_enabled":true,"created_at":"2017-06-05T04:56:19.418Z","last_activity_at":"2017-06-08T14:41:16.541Z","shared_runners_enabled":true,"lfs_enabled":true,"creator_id":1369631,"namespace":{"id":1652018,"name":"gitmate-test-user","path":"gitmate-test-user","kind":"user","full_path":"gitmate-test-user"},"avatar_url":null,"star_count":0,"forks_count":1,"open_issues_count":4,"public_jobs":true,"shared_with_groups":[],"only_allow_merge_if_pipeline_succeeds":false,"request_access_enabled":false,"only_allow_merge_if_all_discussions_are_resolved":false,"approvals_before_merge":0,"permissions":{"project_access":{"access_level":40,"notification_level":3},"group_access":null}}]'}
    headers:
      Content-Type: [application/json]
      Etag: [W/"3d4256d88a3b4a38adbef7e08c449b55"]
      Link: ['<https://gitlab.com/api/v4/projects?User-Agent=GitMate&archived=false&membership=true&order_by=created_at&owned=false&page=1&per_page=20&simple=false&sort=desc&starred=false&statistics=false>;
          rel="first", <https://gitlab.com/api/v4/projects?User-Agent=GitMate&archived=false&membership=true&order_by=created_at&owned=false&page=1&per_page=20&simple=false&sort=desc&starred=false&statistics=false>;
          rel="last"']
      X-Next-Page: ['']
      X-Page: ['1']
      X-Per-Page: ['20']
      X-Prev-Page: ['']
      X-Total: ['2']
      X-Total-Pages: ['1']
    status: {code: 200, message: OK}
version: 1
