interactions:
- request:
    body: '{"title": "title", "body": "body"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.github.com/repos/gitmate-test-user/test/issues
  response:
    body: {string: '{"url":"https://api.github.com/repos/gitmate-test-user/test/issues/122","repository_url":"https://api.github.com/repos/gitmate-test-user/test","labels_url":"https://api.github.com/repos/gitmate-test-user/test/issues/122/labels{/name}","comments_url":"https://api.github.com/repos/gitmate-test-user/test/issues/122/comments","events_url":"https://api.github.com/repos/gitmate-test-user/test/issues/122/events","html_url":"https://github.com/gitmate-test-user/test/issues/122","id":266406569,"number":122,"title":"title","user":{"login":"gitmate-test-user","id":16681030,"avatar_url":"https://avatars3.githubusercontent.com/u/16681030?v=4","gravatar_id":"","url":"https://api.github.com/users/gitmate-test-user","html_url":"https://github.com/gitmate-test-user","followers_url":"https://api.github.com/users/gitmate-test-user/followers","following_url":"https://api.github.com/users/gitmate-test-user/following{/other_user}","gists_url":"https://api.github.com/users/gitmate-test-user/gists{/gist_id}","starred_url":"https://api.github.com/users/gitmate-test-user/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gitmate-test-user/subscriptions","organizations_url":"https://api.github.com/users/gitmate-test-user/orgs","repos_url":"https://api.github.com/users/gitmate-test-user/repos","events_url":"https://api.github.com/users/gitmate-test-user/events{/privacy}","received_events_url":"https://api.github.com/users/gitmate-test-user/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2017-10-18T08:39:42Z","updated_at":"2017-10-18T08:39:42Z","closed_at":null,"author_association":"OWNER","body":"body","closed_by":null}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"8777537e9bc0b509f190c258e377ad1a"']
      Location: ['https://api.github.com/repos/gitmate-test-user/test/issues/122']
      Status: [201 Created]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
          admin:repo_hook, gist, notifications, repo, user']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['4909']
      X-RateLimit-Reset: ['1508317605']
    status: {code: 201, message: Created}
version: 1
