interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.github.com/repos/gitmate-test-user/test/forks
  response:
    body: {string: '{"id":104781969,"name":"test","full_name":"coafile/test","owner":{"login":"coafile","id":29737679,"avatar_url":"https://avatars0.githubusercontent.com/u/29737679?v=4","gravatar_id":"","url":"https://api.github.com/users/coafile","html_url":"https://github.com/coafile","followers_url":"https://api.github.com/users/coafile/followers","following_url":"https://api.github.com/users/coafile/following{/other_user}","gists_url":"https://api.github.com/users/coafile/gists{/gist_id}","starred_url":"https://api.github.com/users/coafile/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/coafile/subscriptions","organizations_url":"https://api.github.com/users/coafile/orgs","repos_url":"https://api.github.com/users/coafile/repos","events_url":"https://api.github.com/users/coafile/events{/privacy}","received_events_url":"https://api.github.com/users/coafile/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/coafile/test","description":"a
        test repo","fork":true,"url":"https://api.github.com/repos/coafile/test","forks_url":"https://api.github.com/repos/coafile/test/forks","keys_url":"https://api.github.com/repos/coafile/test/keys{/key_id}","collaborators_url":"https://api.github.com/repos/coafile/test/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/coafile/test/teams","hooks_url":"https://api.github.com/repos/coafile/test/hooks","issue_events_url":"https://api.github.com/repos/coafile/test/issues/events{/number}","events_url":"https://api.github.com/repos/coafile/test/events","assignees_url":"https://api.github.com/repos/coafile/test/assignees{/user}","branches_url":"https://api.github.com/repos/coafile/test/branches{/branch}","tags_url":"https://api.github.com/repos/coafile/test/tags","blobs_url":"https://api.github.com/repos/coafile/test/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/coafile/test/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/coafile/test/git/refs{/sha}","trees_url":"https://api.github.com/repos/coafile/test/git/trees{/sha}","statuses_url":"https://api.github.com/repos/coafile/test/statuses/{sha}","languages_url":"https://api.github.com/repos/coafile/test/languages","stargazers_url":"https://api.github.com/repos/coafile/test/stargazers","contributors_url":"https://api.github.com/repos/coafile/test/contributors","subscribers_url":"https://api.github.com/repos/coafile/test/subscribers","subscription_url":"https://api.github.com/repos/coafile/test/subscription","commits_url":"https://api.github.com/repos/coafile/test/commits{/sha}","git_commits_url":"https://api.github.com/repos/coafile/test/git/commits{/sha}","comments_url":"https://api.github.com/repos/coafile/test/comments{/number}","issue_comment_url":"https://api.github.com/repos/coafile/test/issues/comments{/number}","contents_url":"https://api.github.com/repos/coafile/test/contents/{+path}","compare_url":"https://api.github.com/repos/coafile/test/compare/{base}...{head}","merges_url":"https://api.github.com/repos/coafile/test/merges","archive_url":"https://api.github.com/repos/coafile/test/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/coafile/test/downloads","issues_url":"https://api.github.com/repos/coafile/test/issues{/number}","pulls_url":"https://api.github.com/repos/coafile/test/pulls{/number}","milestones_url":"https://api.github.com/repos/coafile/test/milestones{/number}","notifications_url":"https://api.github.com/repos/coafile/test/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/coafile/test/labels{/name}","releases_url":"https://api.github.com/repos/coafile/test/releases{/id}","deployments_url":"https://api.github.com/repos/coafile/test/deployments","created_at":"2017-09-25T17:40:55Z","updated_at":"2016-01-13T07:56:15Z","pushed_at":"2017-09-25T17:41:01Z","git_url":"git://github.com/coafile/test.git","ssh_url":"git@github.com:coafile/test.git","clone_url":"https://github.com/coafile/test.git","svn_url":"https://github.com/coafile/test","homepage":null,"size":2,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"parent":{"id":49558751,"name":"test","full_name":"gitmate-test-user/test","owner":{"login":"gitmate-test-user","id":16681030,"avatar_url":"https://avatars3.githubusercontent.com/u/16681030?v=4","gravatar_id":"","url":"https://api.github.com/users/gitmate-test-user","html_url":"https://github.com/gitmate-test-user","followers_url":"https://api.github.com/users/gitmate-test-user/followers","following_url":"https://api.github.com/users/gitmate-test-user/following{/other_user}","gists_url":"https://api.gith[...]
- request:
    body: '{"path": ".coafile", "message": "Hello", "content": "SGVsbG8=", "branch":
      "master"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.github.com/repos/coafile/test/contents/.coafile
  response:
    body: {string: '{"message":"Invalid request.\n\n\"sha\" wasn''t supplied.","documentation_url":"https://developer.github.com/v3/repos/contents/"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [422 Unprocessable Entity]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
          admin:repo_hook, delete_repo, gist, notifications, repo, user']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3080']
      X-RateLimit-Reset: ['1506362822']
    status: {code: 422, message: Unprocessable Entity}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.github.com/repos/coafile/test
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/octet-stream]
      Status: [204 No Content]
      X-Accepted-OAuth-Scopes: [delete_repo]
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
          admin:repo_hook, delete_repo, gist, notifications, repo, user']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3074']
      X-RateLimit-Reset: ['1506362822']
    status: {code: 204, message: No Content}
[...]
- request:
    body: '{"path": ".coafile", "message": "Hello", "content": "SGVsbG8=", "branch":
      "master"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.github.com/repos/coafile/test/contents/.coafile
  response:
    body: {string: '{"content":{"name":".coafile","path":".coafile","sha":"5ab2f8a4323abafb10abb68657d9d39f1a775057","size":5,"url":"https://api.github.com/repos/coafile/test/contents/.coafile?ref=master","html_url":"https://github.com/coafile/test/blob/master/.coafile","git_url":"https://api.github.com/repos/coafile/test/git/blobs/5ab2f8a4323abafb10abb68657d9d39f1a775057","download_url":"https://raw.githubusercontent.com/coafile/test/master/.coafile","type":"file","_links":{"self":"https://api.github.com/repos/coafile/test/contents/.coafile?ref=master","git":"https://api.github.com/repos/coafile/test/git/blobs/5ab2f8a4323abafb10abb68657d9d39f1a775057","html":"https://github.com/coafile/test/blob/master/.coafile"}},"commit":{"sha":"f49e402dca89d4efdaee9cce287193d0969c4250","url":"https://api.github.com/repos/coafile/test/git/commits/f49e402dca89d4efdaee9cce287193d0969c4250","html_url":"https://github.com/coafile/test/commit/f49e402dca89d4efdaee9cce287193d0969c4250","author":{"name":"coafile","email":"coafilecoala@gmail.com","date":"2017-09-25T17:42:15Z"},"committer":{"name":"coafile","email":"coafilecoala@gmail.com","date":"2017-09-25T17:42:15Z"},"tree":{"sha":"adac3da2188a10cfd2b84f59d8ba1c2b30dc94bf","url":"https://api.github.com/repos/coafile/test/git/trees/adac3da2188a10cfd2b84f59d8ba1c2b30dc94bf"},"message":"Hello","parents":[{"sha":"f7e962c0066f7c7600e3a9544bc72e0dc1bfdf02","url":"https://api.github.com/repos/coafile/test/git/commits/f7e962c0066f7c7600e3a9544bc72e0dc1bfdf02","html_url":"https://github.com/coafile/test/commit/f7e962c0066f7c7600e3a9544bc72e0dc1bfdf02"}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"ec78f25a044071a350591d53df8e6251"']
      Status: [201 Created]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
          admin:repo_hook, delete_repo, gist, notifications, repo, user']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['3045']
      X-RateLimit-Reset: ['1506362822']
    status: {code: 201, message: Created}
- request:
    body: '{"title": "add", "body": null, "base": "master", "head": "coafile:master"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.github.com/repos/gitmate-test-user/test/pulls
  response:
    body: {string: '{"url":"https://api.github.com/repos/gitmate-test-user/test/pulls/115","id":142942890,"html_url":"https://github.com/gitmate-test-user/test/pull/115","diff_url":"https://github.com/gitmate-test-user/test/pull/115.diff","patch_url":"https://github.com/gitmate-test-user/test/pull/115.patch","issue_url":"https://api.github.com/repos/gitmate-test-user/test/issues/115","number":115,"state":"open","locked":false,"title":"add","user":{"login":"coafile","id":29737679,"avatar_url":"https://avatars0.githubusercontent.com/u/29737679?v=4","gravatar_id":"","url":"https://api.github.com/users/coafile","html_url":"https://github.com/coafile","followers_url":"https://api.github.com/users/coafile/followers","following_url":"https://api.github.com/users/coafile/following{/other_user}","gists_url":"https://api.github.com/users/coafile/gists{/gist_id}","starred_url":"https://api.github.com/users/coafile/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/coafile/subscriptions","organizations_url":"https://api.github.com/users/coafile/orgs","repos_url":"https://api.github.com/users/coafile/repos","events_url":"https://api.github.com/users/coafile/events{/privacy}","received_events_url":"https://api.github.com/users/coafile/received_events","type":"User","site_admin":false},"body":null,"created_at":"2017-09-25T17:42:18Z","updated_at":"2017-09-25T17:42:18Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"milestone":null,"commits_url":"https://api.github.com/repos/gitmate-test-user/test/pulls/115/commits","review_comments_url":"https://api.github.com/repos/gitmate-test-user/test/pulls/115/comments","review_comment_url":"https://api.github.com/repos/gitmate-test-user/test/pulls/comments{/number}","comments_url":"https://api.github.com/repos/gitmate-test-user/test/issues/115/comments","statuses_url":"https://api.github.com/repos/gitmate-test-user/test/statuses/f49e402dca89d4efdaee9cce287193d0969c4250","head":{"label":"coafile:master","ref":"master","sha":"f49e402dca89d4efdaee9cce287193d0969c4250","user":{"login":"coafile","id":29737679,"avatar_url":"https://avatars0.githubusercontent.com/u/29737679?v=4","gravatar_id":"","url":"https://api.github.com/users/coafile","html_url":"https://github.com/coafile","followers_url":"https://api.github.com/users/coafile/followers","following_url":"https://api.github.com/users/coafile/following{/other_user}","gists_url":"https://api.github.com/users/coafile/gists{/gist_id}","starred_url":"https://api.github.com/users/coafile/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/coafile/subscriptions","organizations_url":"https://api.github.com/users/coafile/orgs","repos_url":"https://api.github.com/users/coafile/repos","events_url":"https://api.github.com/users/coafile/events{/privacy}","received_events_url":"https://api.github.com/users/coafile/received_events","type":"User","site_admin":false},"repo":{"id":104782070,"name":"test","full_name":"coafile/test","owner":{"login":"coafile","id":29737679,"avatar_url":"https://avatars0.githubusercontent.com/u/29737679?v=4","gravatar_id":"","url":"https://api.github.com/users/coafile","html_url":"https://github.com/coafile","followers_url":"https://api.github.com/users/coafile/followers","following_url":"https://api.github.com/users/coafile/following{/other_user}","gists_url":"https://api.github.com/users/coafile/gists{/gist_id}","starred_url":"https:[...]
