interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.github.com/repos/gitmate-test-user/test/forks?User-Agent=IGitt
  response:
    body: {string: '{"id":97278659,"name":"test","full_name":"coafile/test","owner":{"login":"coafile","id":29737679,"avatar_url":"https://avatars4.githubusercontent.com/u/29737679?v=4","gravatar_id":"","url":"https://api.github.com/users/coafile","html_url":"https://github.com/coafile","followers_url":"https://api.github.com/users/coafile/followers","following_url":"https://api.github.com/users/coafile/following{/other_user}","gists_url":"https://api.github.com/users/coafile/gists{/gist_id}","starred_url":"https://api.github.com/users/coafile/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/coafile/subscriptions","organizations_url":"https://api.github.com/users/coafile/orgs","repos_url":"https://api.github.com/users/coafile/repos","events_url":"https://api.github.com/users/coafile/events{/privacy}","received_events_url":"https://api.github.com/users/coafile/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/coafile/test","description":"a
        test repo","fork":true,"url":"https://api.github.com/repos/coafile/test","forks_url":"https://api.github.com/repos/coafile/test/forks","keys_url":"https://api.github.com/repos/coafile/test/keys{/key_id}","collaborators_url":"https://api.github.com/repos/coafile/test/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/coafile/test/teams","hooks_url":"https://api.github.com/repos/coafile/test/hooks","issue_events_url":"https://api.github.com/repos/coafile/test/issues/events{/number}","events_url":"https://api.github.com/repos/coafile/test/events","assignees_url":"https://api.github.com/repos/coafile/test/assignees{/user}","branches_url":"https://api.github.com/repos/coafile/test/branches{/branch}","tags_url":"https://api.github.com/repos/coafile/test/tags","blobs_url":"https://api.github.com/repos/coafile/test/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/coafile/test/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/coafile/test/git/refs{/sha}","trees_url":"https://api.github.com/repos/coafile/test/git/trees{/sha}","statuses_url":"https://api.github.com/repos/coafile/test/statuses/{sha}","languages_url":"https://api.github.com/repos/coafile/test/languages","stargazers_url":"https://api.github.com/repos/coafile/test/stargazers","contributors_url":"https://api.github.com/repos/coafile/test/contributors","subscribers_url":"https://api.github.com/repos/coafile/test/subscribers","subscription_url":"https://api.github.com/repos/coafile/test/subscription","commits_url":"https://api.github.com/repos/coafile/test/commits{/sha}","git_commits_url":"https://api.github.com/repos/coafile/test/git/commits{/sha}","comments_url":"https://api.github.com/repos/coafile/test/comments{/number}","issue_comment_url":"https://api.github.com/repos/coafile/test/issues/comments{/number}","contents_url":"https://api.github.com/repos/coafile/test/contents/{+path}","compare_url":"https://api.github.com/repos/coafile/test/compare/{base}...{head}","merges_url":"https://api.github.com/repos/coafile/test/merges","archive_url":"https://api.github.com/repos/coafile/test/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/coafile/test/downloads","issues_url":"https://api.github.com/repos/coafile/test/issues{/number}","pulls_url":"https://api.github.com/repos/coafile/test/pulls{/number}","milestones_url":"https://api.github.com/repos/coafile/test/milestones{/number}","notifications_url":"https://api.github.com/repos/coafile/test/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/coafile/test/labels{/name}","releases_url":"https://api.github.com/repos/coafile/test/releases{/id}","deployments_url":"https://api.github.com/repos/coafile/test/deployments","created_at":"2017-07-14T23:02:19Z","updated_at":"2016-01-13T07:56:15Z","pushed_at":"2017-07-09T20:40:56Z","git_url":"git://github.com/coafile/test.git","ssh_url":"git@github.com:coafile/test.git","clone_url":"https://github.com/coafile/test.git","svn_url":"https://github.com/coafile/test","homepage":null,"size":1,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"parent":{"id":49558751,"name":"test","full_name":"gitmate-test-user/test","owner":{"login":"gitmate-test-user","id":16681030,"avatar_url":"https://avatars7.githubusercontent.com/u/16681030?v=4","gravatar_id":"","url":"https://api.github.com/users/gitmate-test-user","html_url":"https://github.com/gitmate-test-user","followers_url":"https://api.github.com/users/gitmate-test-user/followers","following_url":"https://api.github.com/users/gitmate-test-user/following{/other_user}","gists_url":"https://api.gith[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.github.com/repos/coafile/test?User-Agent=IGitt
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/octet-stream]
      Status: [204 No Content]
      X-Accepted-OAuth-Scopes: [delete_repo]
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
          admin:repo_hook, delete_repo, gist, notifications, repo, user']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['4996']
      X-RateLimit-Reset: ['1500076770']
    status: {code: 204, message: No Content}
version: 1
