interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.github.com/repos/gitmate-test-user/test/forks?User-Agent=IGitt
  response:
    body: {string: '{"id":97963158,"name":"test-1","full_name":"gitmate-test-user-2/test-1","owner":{"login":"gitmate-test-user-2","id":30349918,"avatar_url":"https://avatars3.githubusercontent.com/u/30349918?v=4","gravatar_id":"","url":"https://api.github.com/users/gitmate-test-user-2","html_url":"https://github.com/gitmate-test-user-2","followers_url":"https://api.github.com/users/gitmate-test-user-2/followers","following_url":"https://api.github.com/users/gitmate-test-user-2/following{/other_user}","gists_url":"https://api.github.com/users/gitmate-test-user-2/gists{/gist_id}","starred_url":"https://api.github.com/users/gitmate-test-user-2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gitmate-test-user-2/subscriptions","organizations_url":"https://api.github.com/users/gitmate-test-user-2/orgs","repos_url":"https://api.github.com/users/gitmate-test-user-2/repos","events_url":"https://api.github.com/users/gitmate-test-user-2/events{/privacy}","received_events_url":"https://api.github.com/users/gitmate-test-user-2/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/gitmate-test-user-2/test-1","description":"a
        test repo","fork":true,"url":"https://api.github.com/repos/gitmate-test-user-2/test-1","forks_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/forks","keys_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/keys{/key_id}","collaborators_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/teams","hooks_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/hooks","issue_events_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/issues/events{/number}","events_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/events","assignees_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/assignees{/user}","branches_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/branches{/branch}","tags_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/tags","blobs_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/git/refs{/sha}","trees_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/git/trees{/sha}","statuses_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/statuses/{sha}","languages_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/languages","stargazers_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/stargazers","contributors_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/contributors","subscribers_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/subscribers","subscription_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/subscription","commits_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/commits{/sha}","git_commits_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/git/commits{/sha}","comments_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/comments{/number}","issue_comment_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/issues/comments{/number}","contents_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/contents/{+path}","compare_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/compare/{base}...{head}","merges_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/merges","archive_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/downloads","issues_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/issues{/number}","pulls_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/pulls{/number}","milestones_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/milestones{/number}","notifications_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/labels{/name}","releases_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/releases{/id}","deployments_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/deployments","created_at":"2017-07-21T15:37:55Z","updated_at":"2016-01-13T07:56:15Z","pushed_at":"2017-07-19T15:04:37Z","git_url":"git://github.com/gitmate-test-user-2/test-1.git","ssh_url":"git@github.com:gitmate-test-user-2/test-1.git","clone_url":"https://github.com/gitmate-test-user-2/test-1.git","svn_url":"https://github.com/gitmate-test-user-2/test-1","homepage":null,"size":1,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"parent":{"id":49558751,"name":"test","full_name":"gitmate-test-user/test","owner":{"login":"gitmate-test-user","id":16681030,"avatar_url":"https://avatars3.githubusercontent.com/u/16681030?v=4","gravatar_id":"","url":"https://api.github.com/users/gitmate-test-user","html_url":"https://github.com/gitmate-test-user","followers_url":"https://api.github.com/users/gitmate-test-user/followers","following_url":"https://api.github.com/users/gitmate-test-user/following{/other_user}","gists_url":"https://api.gith[...]
- request:
    body: '{"branch": "master", "path": ".coafile", "content": "SGVsbG8=", "message":
      "Hello"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.github.com/repos/gitmate-test-user-2/test-1/contents/.coafile?User-Agent=IGitt
  response:
    body: {string: '{"content":{"name":".coafile","path":".coafile","sha":"5ab2f8a4323abafb10abb68657d9d39f1a775057","size":5,"url":"https://api.github.com/repos/gitmate-test-user-2/test-1/contents/.coafile?ref=master","html_url":"https://github.com/gitmate-test-user-2/test-1/blob/master/.coafile","git_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/git/blobs/5ab2f8a4323abafb10abb68657d9d39f1a775057","download_url":"https://raw.githubusercontent.com/gitmate-test-user-2/test-1/master/.coafile","type":"file","_links":{"self":"https://api.github.com/repos/gitmate-test-user-2/test-1/contents/.coafile?ref=master","git":"https://api.github.com/repos/gitmate-test-user-2/test-1/git/blobs/5ab2f8a4323abafb10abb68657d9d39f1a775057","html":"https://github.com/gitmate-test-user-2/test-1/blob/master/.coafile"}},"commit":{"sha":"fc0ad6cd476656ea7452db01bc562df6098f75a9","url":"https://api.github.com/repos/gitmate-test-user-2/test-1/git/commits/fc0ad6cd476656ea7452db01bc562df6098f75a9","html_url":"https://github.com/gitmate-test-user-2/test-1/commit/fc0ad6cd476656ea7452db01bc562df6098f75a9","author":{"name":"gitmate-test-user-2","email":"30349918+gitmate-test-user-2@users.noreply.github.com","date":"2017-07-21T15:38:02Z"},"committer":{"name":"gitmate-test-user-2","email":"30349918+gitmate-test-user-2@users.noreply.github.com","date":"2017-07-21T15:38:02Z"},"tree":{"sha":"adac3da2188a10cfd2b84f59d8ba1c2b30dc94bf","url":"https://api.github.com/repos/gitmate-test-user-2/test-1/git/trees/adac3da2188a10cfd2b84f59d8ba1c2b30dc94bf"},"message":"Hello","parents":[{"sha":"f78fa380ddc11504a55d16bbb1578e6e1ee3bfef","url":"https://api.github.com/repos/gitmate-test-user-2/test-1/git/commits/f78fa380ddc11504a55d16bbb1578e6e1ee3bfef","html_url":"https://github.com/gitmate-test-user-2/test-1/commit/f78fa380ddc11504a55d16bbb1578e6e1ee3bfef"}]}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"1c60813bd7dc8dcdcf1d31b946c262ac"']
      Status: [201 Created]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
          admin:repo_hook, delete_repo, gist, notifications, repo, user']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['4972']
      X-RateLimit-Reset: ['1500654355']
    status: {code: 201, message: Created}
version: 1
