interactions:
- request:
    body: '{"title": "test title", "body": "test body"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.github.com/repos/gitmate-test-user/test/issues
  response:
    body: {string: '{"url":"https://api.github.com/repos/gitmate-test-user/test/issues/121","repository_url":"https://api.github.com/repos/gitmate-test-user/test","labels_url":"https://api.github.com/repos/gitmate-test-user/test/issues/121/labels{/name}","comments_url":"https://api.github.com/repos/gitmate-test-user/test/issues/121/comments","events_url":"https://api.github.com/repos/gitmate-test-user/test/issues/121/events","html_url":"https://github.com/gitmate-test-user/test/issues/121","id":266403945,"number":121,"title":"test
        title","user":{"login":"gitmate-test-user","id":16681030,"avatar_url":"https://avatars3.githubusercontent.com/u/16681030?v=4","gravatar_id":"","url":"https://api.github.com/users/gitmate-test-user","html_url":"https://github.com/gitmate-test-user","followers_url":"https://api.github.com/users/gitmate-test-user/followers","following_url":"https://api.github.com/users/gitmate-test-user/following{/other_user}","gists_url":"https://api.github.com/users/gitmate-test-user/gists{/gist_id}","starred_url":"https://api.github.com/users/gitmate-test-user/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gitmate-test-user/subscriptions","organizations_url":"https://api.github.com/users/gitmate-test-user/orgs","repos_url":"https://api.github.com/users/gitmate-test-user/repos","events_url":"https://api.github.com/users/gitmate-test-user/events{/privacy}","received_events_url":"https://api.github.com/users/gitmate-test-user/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2017-10-18T08:31:02Z","updated_at":"2017-10-18T08:31:02Z","closed_at":null,"author_association":"OWNER","body":"test
        body","closed_by":null}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"40776a62d21c8785dec4292fc175fc5c"']
      Location: ['https://api.github.com/repos/gitmate-test-user/test/issues/121']
      Status: [201 Created]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
          admin:repo_hook, gist, notifications, repo, user']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['4959']
      X-RateLimit-Reset: ['1508317605']
    status: {code: 201, message: Created}
version: 1
