interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.github.com/repos/gitmate-test-user/test/forks
  response:
    body: {string: '{"id":105251985,"name":"test-1","full_name":"gitmate-test-user-2/test-1","owner":{"login":"gitmate-test-user-2","id":30349918,"avatar_url":"https://avatars3.githubusercontent.com/u/30349918?v=4","gravatar_id":"","url":"https://api.github.com/users/gitmate-test-user-2","html_url":"https://github.com/gitmate-test-user-2","followers_url":"https://api.github.com/users/gitmate-test-user-2/followers","following_url":"https://api.github.com/users/gitmate-test-user-2/following{/other_user}","gists_url":"https://api.github.com/users/gitmate-test-user-2/gists{/gist_id}","starred_url":"https://api.github.com/users/gitmate-test-user-2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gitmate-test-user-2/subscriptions","organizations_url":"https://api.github.com/users/gitmate-test-user-2/orgs","repos_url":"https://api.github.com/users/gitmate-test-user-2/repos","events_url":"https://api.github.com/users/gitmate-test-user-2/events{/privacy}","received_events_url":"https://api.github.com/users/gitmate-test-user-2/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/gitmate-test-user-2/test-1","description":"a
        test repo","fork":true,"url":"https://api.github.com/repos/gitmate-test-user-2/test-1","forks_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/forks","keys_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/keys{/key_id}","collaborators_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/teams","hooks_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/hooks","issue_events_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/issues/events{/number}","events_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/events","assignees_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/assignees{/user}","branches_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/branches{/branch}","tags_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/tags","blobs_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/git/refs{/sha}","trees_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/git/trees{/sha}","statuses_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/statuses/{sha}","languages_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/languages","stargazers_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/stargazers","contributors_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/contributors","subscribers_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/subscribers","subscription_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/subscription","commits_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/commits{/sha}","git_commits_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/git/commits{/sha}","comments_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/comments{/number}","issue_comment_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/issues/comments{/number}","contents_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/contents/{+path}","compare_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/compare/{base}...{head}","merges_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/merges","archive_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/downloads","issues_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/issues{/number}","pulls_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/pulls{/number}","milestones_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/milestones{/number}","notifications_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/labels{/name}","releases_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/releases{/id}","deployments_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/deployments","created_at":"2017-09-29T08:59:48Z","updated_at":"2016-01-13T07:56:15Z","pushed_at":"2017-09-29T08:59:51Z","git_url":"git://github.com/gitmate-test-user-2/test-1.git","ssh_url":"git@github.com:gitmate-test-user-2/test-1.git","clone_url":"https://github.com/gitmate-test-user-2/test-1.git","svn_url":"https://github.com/gitmate-test-user-2/test-1","homepage":null,"size":2,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"parent":{"id":49558751,"name":"test","full_name":"gitmate-test-user/test","owner":{"login":"gitmate-test-user","id":16681030,"avatar_url":"https://avatars3.githubusercontent.com/u/16681030?v=4","gravatar_id":"","url":"https://api.github.com/users/gitmate-test-user","html_url":"https://github.com/gitmate-test-user","followers_url":"https://api.github.com/users/gitmate-test-user/followers","following_url":"https://api.github.com/users/gitmate-test-user/following{/other_user}","gists_url":"https://api.gith[...]
- request:
    body: '{"path": ".coafile", "message": "Hello", "content": "SGVsbG8=", "branch":
      "master"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.github.com/repos/gitmate-test-user-2/test-1/contents/.coafile
  response:
    body: {string: '{"message":"Invalid request.\n\n\"sha\" wasn''t supplied.","documentation_url":"https://developer.github.com/v3/repos/contents/#update-a-file"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [422 Unprocessable Entity]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
          admin:repo_hook, delete_repo, gist, notifications, repo, user']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['4998']
      X-RateLimit-Reset: ['1508319565']
    status: {code: 422, message: Unprocessable Entity}
- request:
    body: null
    headers:
    method: DELETE
    uri: https://api.github.com/repos/gitmate-test-user-2/test-1
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/octet-stream]
      Status: [204 No Content]
      X-Accepted-OAuth-Scopes: [delete_repo]
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
          admin:repo_hook, delete_repo, gist, notifications, repo, user']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['4997']
      X-RateLimit-Reset: ['1508319565']
    status: {code: 204, message: No Content}
[...]
- request:
    body: '{"path": ".coafile", "message": "Hello", "content": "SGVsbG8=", "branch":
      "master"}'
    headers:
      Content-Type: [application/json]
    method: PUT
    uri: https://api.github.com/repos/gitmate-test-user-2/test-1/contents/.coafile
  response:
    body: {string: '{"content":{"name":".coafile","path":".coafile","sha":"5ab2f8a4323abafb10abb68657d9d39f1a775057","size":5,"url":"https://api.github.com/repos/gitmate-test-user-2/test-1/contents/.coafile?ref=master","html_url":"https://github.com/gitmate-test-user-2/test-1/blob/master/.coafile","git_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/git/blobs/5ab2f8a4323abafb10abb68657d9d39f1a775057","download_url":"https://raw.githubusercontent.com/gitmate-test-user-2/test-1/master/.coafile","type":"file","_links":{"self":"https://api.github.com/repos/gitmate-test-user-2/test-1/contents/.coafile?ref=master","git":"https://api.github.com/repos/gitmate-test-user-2/test-1/git/blobs/5ab2f8a4323abafb10abb68657d9d39f1a775057","html":"https://github.com/gitmate-test-user-2/test-1/blob/master/.coafile"}},"commit":{"sha":"fe341dde5fbd6f818d836b6ae3789cf8faa3aace","url":"https://api.github.com/repos/gitmate-test-user-2/test-1/git/commits/fe341dde5fbd6f818d836b6ae3789cf8faa3aace","html_url":"https://github.com/gitmate-test-user-2/test-1/commit/fe341dde5fbd6f818d836b6ae3789cf8faa3aace","author":{"name":"gitmate-test-user-2","email":"30349918+gitmate-test-user-2@users.noreply.github.com","date":"2017-10-18T08:39:35Z"},"committer":{"name":"gitmate-test-user-2","email":"30349918+gitmate-test-user-2@users.noreply.github.com","date":"2017-10-18T08:39:35Z"},"tree":{"sha":"adac3da2188a10cfd2b84f59d8ba1c2b30dc94bf","url":"https://api.github.com/repos/gitmate-test-user-2/test-1/git/trees/adac3da2188a10cfd2b84f59d8ba1c2b30dc94bf"},"message":"Hello","parents":[{"sha":"27576735be020d37c015637c89a356be47cf30dd","url":"https://api.github.com/repos/gitmate-test-user-2/test-1/git/commits/27576735be020d37c015637c89a356be47cf30dd","html_url":"https://github.com/gitmate-test-user-2/test-1/commit/27576735be020d37c015637c89a356be47cf30dd"}],"verification":{"verified":false,"reason":"unsigned","signature":null,"payload":null}}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"1f21472d29fddab396412c3b7378c82a"']
      Status: [201 Created]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
          admin:repo_hook, delete_repo, gist, notifications, repo, user']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['4995']
      X-RateLimit-Reset: ['1508319565']
    status: {code: 201, message: Created}
version: 1
