interactions:
- request:
    body: '{}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.github.com/repos/gitmate-test-user/test/forks
  response:
    body: {string: '{"id":105251728,"name":"test-1","full_name":"gitmate-test-user-2/test-1","owner":{"login":"gitmate-test-user-2","id":30349918,"avatar_url":"https://avatars3.githubusercontent.com/u/30349918?v=4","gravatar_id":"","url":"https://api.github.com/users/gitmate-test-user-2","html_url":"https://github.com/gitmate-test-user-2","followers_url":"https://api.github.com/users/gitmate-test-user-2/followers","following_url":"https://api.github.com/users/gitmate-test-user-2/following{/other_user}","gists_url":"https://api.github.com/users/gitmate-test-user-2/gists{/gist_id}","starred_url":"https://api.github.com/users/gitmate-test-user-2/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gitmate-test-user-2/subscriptions","organizations_url":"https://api.github.com/users/gitmate-test-user-2/orgs","repos_url":"https://api.github.com/users/gitmate-test-user-2/repos","events_url":"https://api.github.com/users/gitmate-test-user-2/events{/privacy}","received_events_url":"https://api.github.com/users/gitmate-test-user-2/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/gitmate-test-user-2/test-1","description":"a
        test repo","fork":true,"url":"https://api.github.com/repos/gitmate-test-user-2/test-1","forks_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/forks","keys_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/keys{/key_id}","collaborators_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/teams","hooks_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/hooks","issue_events_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/issues/events{/number}","events_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/events","assignees_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/assignees{/user}","branches_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/branches{/branch}","tags_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/tags","blobs_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/git/refs{/sha}","trees_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/git/trees{/sha}","statuses_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/statuses/{sha}","languages_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/languages","stargazers_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/stargazers","contributors_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/contributors","subscribers_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/subscribers","subscription_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/subscription","commits_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/commits{/sha}","git_commits_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/git/commits{/sha}","comments_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/comments{/number}","issue_comment_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/issues/comments{/number}","contents_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/contents/{+path}","compare_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/compare/{base}...{head}","merges_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/merges","archive_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/downloads","issues_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/issues{/number}","pulls_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/pulls{/number}","milestones_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/milestones{/number}","notifications_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/labels{/name}","releases_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/releases{/id}","deployments_url":"https://api.github.com/repos/gitmate-test-user-2/test-1/deployments","created_at":"2017-09-29T08:57:25Z","updated_at":"2016-01-13T07:56:15Z","pushed_at":"2017-09-29T08:57:28Z","git_url":"git://github.com/gitmate-test-user-2/test-1.git","ssh_url":"git@github.com:gitmate-test-user-2/test-1.git","clone_url":"https://github.com/gitmate-test-user-2/test-1.git","svn_url":"https://github.com/gitmate-test-user-2/test-1","homepage":null,"size":2,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"parent":{"id":49558751,"name":"test","full_name":"gitmate-test-user/test","owner":{"login":"gitmate-test-user","id":16681030,"avatar_url":"https://avatars3.githubusercontent.com/u/16681030?v=4","gravatar_id":"","url":"https://api.github.com/users/gitmate-test-user","html_url":"https://github.com/gitmate-test-user","followers_url":"https://api.github.com/users/gitmate-test-user/followers","following_url":"https://api.github.com/users/gitmate-test-user/following{/other_user}","gists_url":"https://api.gith[...]
