interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/search/issues?per_page=100&q=+type%3Apr+state%3Aopen+repo%3Agitmate-test-user%2Ftest+created%3A%3C2016-01-25T00%3A00%3A00Z
  response:
    body: {string: '{"total_count":2,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/gitmate-test-user/test/issues/7","repository_url":"https://api.github.com/repos/gitmate-test-user/test","labels_url":"https://api.github.com/repos/gitmate-test-user/test/issues/7/labels{/name}","comments_url":"https://api.github.com/repos/gitmate-test-user/test/issues/7/comments","events_url":"https://api.github.com/repos/gitmate-test-user/test/issues/7/events","html_url":"https://github.com/gitmate-test-user/test/pull/7","id":128420176,"number":7,"title":"changed
        title","user":{"login":"gitmate-test-user","id":16681030,"avatar_url":"https://avatars3.githubusercontent.com/u/16681030?v=4","gravatar_id":"","url":"https://api.github.com/users/gitmate-test-user","html_url":"https://github.com/gitmate-test-user","followers_url":"https://api.github.com/users/gitmate-test-user/followers","following_url":"https://api.github.com/users/gitmate-test-user/following{/other_user}","gists_url":"https://api.github.com/users/gitmate-test-user/gists{/gist_id}","starred_url":"https://api.github.com/users/gitmate-test-user/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gitmate-test-user/subscriptions","organizations_url":"https://api.github.com/users/gitmate-test-user/orgs","repos_url":"https://api.github.com/users/gitmate-test-user/repos","events_url":"https://api.github.com/users/gitmate-test-user/events{/privacy}","received_events_url":"https://api.github.com/users/gitmate-test-user/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":3,"created_at":"2016-01-24T19:47:19Z","updated_at":"2017-10-18T08:34:21Z","closed_at":null,"author_association":"OWNER","pull_request":{"url":"https://api.github.com/repos/gitmate-test-user/test/pulls/7","html_url":"https://github.com/gitmate-test-user/test/pull/7","diff_url":"https://github.com/gitmate-test-user/test/pull/7.diff","patch_url":"https://github.com/gitmate-test-user/test/pull/7.patch"},"body":"","score":1.0},{"url":"https://api.github.com/repos/gitmate-test-user/test/issues/6","repository_url":"https://api.github.com/repos/gitmate-test-user/test","labels_url":"https://api.github.com/repos/gitmate-test-user/test/issues/6/labels{/name}","comments_url":"https://api.github.com/repos/gitmate-test-user/test/issues/6/comments","events_url":"https://api.github.com/repos/gitmate-test-user/test/issues/6/events","html_url":"https://github.com/gitmate-test-user/test/pull/6","id":128413228,"number":6,"title[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/search/issues?per_page=100&q=+type%3Apr+state%3Aopen+repo%3Agitmate-test-user%2Ftest+created%3A%3E%3D2016-01-25T00%3A00%3A00Z
  response:
    body: {string: '{"total_count":17,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/gitmate-test-user/test/issues/126","repository_url":"https://api.github.com/repos/gitmate-test-user/test","labels_url":"https://api.github.com/repos/gitmate-test-us[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/search/issues?per_page=100&q=+type%3Apr+state%3Aopen+repo%3Agitmate-test-user%2Ftest+updated%3A%3E%3D2017-06-18T00%3A00%3A00Z
  response:
    body: {string: '{"total_count":17,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/gitmate-test-user/test/issues/126","repository_url":"https://api.github.com/repos/gitmate-test-user/test","labels_url":"https://api.github.com/repos/gitmate-test-us[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/search/issues?per_page=100&q=+type%3Apr+state%3Aopen+repo%3Agitmate-test-user%2Ftest+updated%3A%3C2017-06-18T00%3A00%3A00Z
  response:
    body: {string: '{"total_count":2,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/gitmate-test-user/test/issues/11","repository_url":"https://api.github.com/repos/gitmate-test-user/test","labels_url":"https://api.github.com/repos/gitmate-test-user/te[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/search/issues?per_page=100&q=+type%3Apr+state%3Aclosed+repo%3Agitmate-test-user%2Ftest+created%3A%3C2016-01-25T00%3A00%3A00Z
  response:
    body: {string: '{"total_count":1,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/gitmate-test-user/test/issues/5","repository_url":"https://api.github.com/repos/gitmate-test-user/test","labels_url":"https://api.github.com/repos/gitmate-test-user/t[...]
