interactions:
- request:
    body: '{"title": "title", "body": "body"}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api.github.com/repos/gitmate-test-user/test/issues
  response:
    body: {string: '{"url":"https://api.github.com/repos/gitmate-test-user/test/issues/114","repository_url":"https://api.github.com/repos/gitmate-test-user/test","labels_url":"https://api.github.com/repos/gitmate-test-user/test/issues/114/labels{/name}","comments_url":"https://api.github.com/repos/gitmate-test-user/test/issues/114/comments","events_url":"https://api.github.com/repos/gitmate-test-user/test/issues/114/events","html_url":"https://github.com/gitmate-test-user/test/issues/114","id":260106923,"number":114,"title":"title","user":{"login":"gitmate-test-user","id":16681030,"avatar_url":"https://avatars3.githubusercontent.com/u/16681030?v=4","gravatar_id":"","url":"https://api.github.com/users/gitmate-test-user","html_url":"https://github.com/gitmate-test-user","followers_url":"https://api.github.com/users/gitmate-test-user/followers","following_url":"https://api.github.com/users/gitmate-test-user/following{/other_user}","gists_url":"https://api.github.com/users/gitmate-test-user/gists{/gist_id}","starred_url":"https://api.github.com/users/gitmate-test-user/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gitmate-test-user/subscriptions","organizations_url":"https://api.github.com/users/gitmate-test-user/orgs","repos_url":"https://api.github.com/users/gitmate-test-user/repos","events_url":"https://api.github.com/users/gitmate-test-user/events{/privacy}","received_events_url":"https://api.github.com/users/gitmate-test-user/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2017-09-24T18:57:07Z","updated_at":"2017-09-24T18:57:07Z","closed_at":null,"author_association":"OWNER","body":"body","closed_by":null}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      ETag: ['"d01e56ad3676df2a4035a3e73f2e54bd"']
      Location: ['https://api.github.com/repos/gitmate-test-user/test/issues/114']
      Status: [201 Created]
      X-Accepted-OAuth-Scopes: ['']
      X-GitHub-Media-Type: [github.v3; format=json]
      X-OAuth-Scopes: ['admin:org, admin:org_hook, admin:public_key, admin:repo_hook,
          gist, notifications, repo, user']
      X-RateLimit-Limit: ['5000']
      X-RateLimit-Remaining: ['4875']
      X-RateLimit-Reset: ['1506280502']
    status: {code: 201, message: Created}
version: 1
